ul.resp-tabs-list, p 
	margin: 0px 
	padding: 0px 
.resp-tabs-list 
	li 
		font-weight: 400 
		font-size: 20px 
		letter-spacing: 2px 
		display: inline-block 
		padding: 13px 15px 
		margin: 0 4px 0 0 
		list-style: none 
		cursor: pointer 
		float: left 
.resp-tabs-container 
	padding: 0px 
	background-color: #fff 
	clear: left 
h2 
	&.resp-accordion 
		cursor: pointer 
		padding: 5px 
		display: none 
		font-size: 13px 
		border: 1px solid #c1c1c1 
		border-top: 0px solid #c1c1c1 
		margin: 0px 
		padding: 10px 15px 
		display: block 
		&:first-child 
			border-top: 1px solid #c1c1c1 
	&.resp-tab-active 
		border-bottom: 0px solid #c1c1c1 !important 
		margin-bottom: 0px !important 
		padding: 10px 15px !important 
		background: #DBDBDB 
		span 
			&.resp-arrow 
				border: none 
				border-left: 6px solid transparent 
				border-right: 6px solid transparent 
				border-bottom: 12px solid #9B9797 
	&.resp-tab-title 
		&:last-child 
			border-bottom: 12px solid #c1c1c1 !important 
			background: blue 
.resp-tab-content 
	display: none 
	padding: 25px 60px 
	border: 1px solid #212121 
	border-top-color: #212121 
.resp-tab-active 
	border: 1px solid #212121 !important 
	border-bottom: none 
	margin-bottom: -1px !important 
	padding: 12px 14px 14px 14px !important 
	border-bottom: 0px #fff solid !important 
	border-bottom: none 
	background-color: #212121!important 
	color: #fff 
.resp-vtabs 
	.resp-tabs-list 
		li 
			display: block 
			padding: 0px 0px !important 
			margin: 0 0 20px 
			cursor: pointer 
			float: none 
			border: 1px solid #F5F5F5 
			border-color: rgb(241, 241, 241)!important 
			background-color: #ffffff!important 
			i 
				color: #000000 
				margin-right: 20px 
				padding: 15px 10px 
				width: 50px 
				height: 50px 
				text-align: center 
				&.fa-mobile 
					padding: 10px 10px 
					font-size: 28px 
	li 
		&.resp-tab-active 
			position: relative 
			z-index: 1 
			margin-right: 0px !important 
			padding: 0px 0px 0px 0px !important 
			margin: 0 0 20px 0 !important 
			background-color: #28ece3! important 
			background: #28ece3 
			color: #fff 
			position: relative 
			i 
				color: #fbfbfb 
				padding: 14px 10px 
				border-radius: 0px 
				width: 50px 
				background: #000 
				margin-right: 20px 
				height: 50px 
				&.fa-mobile 
					padding: 10px 10px 
			&:after 
				content: '' 
				border-top: 36px solid #28ece3 
				border-right: 0px solid #28ece3 
				border-left: 36px solid rgba(40, 236, 227, 0) 
				transform: rotate(45deg) 
				position: absolute 
				top: 7px 
				right: -17px 
	.resp-tabs-container 
		padding: 0px 
		background-color: rgba(243, 243, 243, 0.25) 
		border: none 
		float: left 
		width: 70% 
		border: 1px solid transparent !important 
		border-radius: 0 
		clear: none 
		min-height: 650px 
		border: none 
		width: 100% 
		min-height: 100px 
		clear: none 
	.resp-tab-content 
		border: none 
		word-wrap: break-word 
		border: 1px solid #C1C1C1 
		&:last-child 
			border-bottom: 1px solid #c1c1c1 !important 
.resp-content-active, .resp-accordion-active 
	display: block 
.agileits-tab_nav 
	float: left 
	width: 30% 
	margin-top: 0!important 
	min-height: 650px 
	float: none 
	width: 100% 
	margin-top: 0!important 
	min-height: auto 
	margin-bottom: 0px 
ul 
	&.resp-tabs-list 
		display: none 
		&.hor_1 
			margin-top: 0!important 
a 
	&.w3ls-ads 
		text-decoration: none 
		color: #0099e5 
		font-size: 15px 
		margin: 25px 0 0px 0 
		display: block 
		text-align: center 
		&:hover 
			color: #ff4c4c 
.resp-arrow 
	width: 0 
	height: 0 
	float: right 
	margin-top: 3px 
	border-left: 6px solid transparent 
	border-right: 6px solid transparent 
	border-top: 12px solid #c1c1c1 
.resp-easy-accordion 
	h2 
		&.resp-accordion 
			display: block 
	.resp-tab-content 
		border: 1px solid #c1c1c1 
		&:last-child 
			border-bottom: 1px solid #c1c1c1 
.resp-jfit 
	width: 100% 
	margin: 0px 
.resp-tab-content-active 
	display: block 
@media 
	only 
		screen 
			and 
				(max-width 
					&: 
						900px) 
							.resp-tabs-list li {
		font-size: 18px 
} 
	@media 
		only 
			screen 
				and 
					(max-width 
						&: 
							768px) 
								h2.resp-accordion.hor_1 i {
		width: 45px 
								text-align: center 
								color: #6d6d6d 
								font-size: 18px 
		(max-width 
			&: 
				768px) 
					h2.resp-accordion {
		font-size: 17px 
					border: 1px solid #c1c1c1 
					border-top: 0px solid #c1c1c1 
					margin: 0px 
					padding: 15px 15px 
				480px) 
					.resp-tab-content {
		padding: 25px 35px 
				414px) 
					.resp-tab-content {
		padding: 15px 25px 
				320px) 
					.resp-tab-content {
		padding: 15px 15px 
.resp-accordion-closed 
	display: none !important 
