.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus 
	outline: none 
.slides,
.flex-control-nav,
.flex-direction-nav 
	margin: 0 
	padding: 0 
	list-style: none 
.flexslider 
	border: 0px 
	position: relative 
	zoom: 1 
	overflow: hidden 
	padding: 0px 0px 
	.slides 
		zoom: 1 
		& > li 
			display: none 
			-webkit-backface-visibility: hidden 
		img 
			width: 100% 
			display: block 
	&:hover 
		.flex-next 
			opacity: 0.8 
		.flex-prev 
			opacity: 0.8 
.flex-pauseplay 
	span 
		text-transform: capitalize 
.slides 
	&:after 
		content: "." 
		display: block 
		clear: both 
		visibility: hidden 
		line-height: 0 
		height: 0 
html[xmlns] 
	.slides 
		display: block 
* 
	html 
		.slides 
			height: 1% 
.no-js 
	.slides 
		& > li 
			&:first-child 
				display: block 
.flex-viewport 
	max-height: 2000px 
	-webkit-transition: all 1s ease 
	-moz-transition: all 1s ease 
	transition: all 1s ease 
.loading 
	.flex-viewport 
		max-height: 300px 
.carousel 
	li 
		margin-right: 5px 
.flex-direction-nav 
	*height: 0 
	a 
		width: 25px 
		height: 15px 
		margin: 0 
		display: block 
		background: none 
		position: absolute 
		top: 0 
		z-index: 10 
		cursor: pointer 
		text-indent: -9999px 
		opacity: 1 
		-webkit-transition: all .3s ease 
	.flex-next 
		background: none 
		right: 0% 
		top: 0% 
	.flex-prev 
		left: 0% 
	.flex-disabled 
		opacity: .3!important 
		filter: alpha(opacity=30) 
		cursor: default 
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover 
	opacity: 1 
.flex-control-nav 
	display: block 
	position: absolute 
	left: 50% 
	margin-left: 0px 
	bottom: 0 
	left: 44.5% 
	li 
		margin: 0 5px 
		display: inline-block 
		zoom: 1 
.flex-control-paging 
	li 
		a 
			width: 10px 
			height: 10px 
			display: block 
			background: none 
			cursor: pointer 
			text-indent: -9999px 
			border: 2px solid #84C639 
			border-radius: 20px 
			&.flex-active 
				background: #84C639 
				cursor: default 
				border: 2px solid #84C639 
.flex-control-thumbs 
	margin: 5px 0 0 
	position: static 
	overflow: hidden 
	li 
		width: 25% 
		float: left 
		margin: 0 
	img 
		width: 100% 
		display: block 
		opacity: .7 
		cursor: pointer 
		&:hover 
			opacity: 1 
	.flex-active 
		opacity: 1 
		cursor: default 
@media 
	screen 
		and 
			(max-width 
				&:1440px) 
				&: 
					1366px) 
					1080px) 
					480px) 
						section.slider {
		padding-top: 0% 
				&:991px) 
				&:667px) 
					@media screen and (max-width: 600px) { 
} 
	@media 
		screen 
			and 
				(max-width 
					&: 
						414px) 
							@media screen and (max-width: 320px) {
 section.slider {
		padding-top: 0% 
