body 
	overflow-x: hidden 
	background-color: #f0f0f0 
	font-family: "Roboto", Helvetica, Arial, sans-serif 
	font-size: 0.9rem 
	font-weight: 400 
	line-height: 1.5 
	color: #212529 
	background-color: #f0f0f0 
a, button 
	-webkit-transition: all 0.3s 
	transition: all 0.3s 
	outline: none 
a i.fa, button i.fa 
	margin: 0 5px 
h1 
	font-weight: 700 
.btn-primary 
	color: #fff !important 
	color: #fff 
	background-color: #9055A2 
	border-color: #9055A2 
	&:hover 
		color: #fff 
		background-color: #7a4889 
		border-color: #724381 
.btn 
	font-weight: 400 
	border: 1px solid transparent 
	padding: 0.375rem 0.75rem 
	font-size: 0.9rem 
	line-height: 1.5 
	border-radius: 0.25rem 
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out 
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out 
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out 
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out 
	& + .btn 
		margin-left: 5px 
.disabled 
	cursor: not-allowed 
.clickable 
	cursor: pointer 
.menu-large 
	position: static !important 
	.megamenu 
		padding: 20px 
		width: 100% 
		max-width: 1140px 
		left: 50% 
		-webkit-transform: translateX(-50%) 
		transform: translateX(-50%) 
		margin-top: -1px 
	a 
		&.nav-link 
			padding: 7px !important 
			padding-left: 0 !important 
#top 
	background: #555 
	padding: 10px 0 
	.offer 
		color: #fff 
		.btn 
			text-transform: uppercase 
			letter-spacing: 0.1em 
	ul 
		&.menu 
			padding-top: 5px 
			margin: 0 
			font-size: 0.738rem 
			& > li 
				margin-right: 0 
				a 
					color: #eee 
				& + li 
					&:before 
						content: "|\00a0" 
						padding: 0 5px 
						color: #f8f9fa 
			& > .active 
				color: #999 
	#login-modal 
		.modal-header 
			background: #9055A2 
			h5 
				color: #fff 
		a 
			color: #9055A2 
		p 
			font-weight: 300 
			margin-bottom: 20px 
@media 
	(max-width 
		&: 
			767 
				&.98px) 
					.navbar .menu-large h5 {
    font-size: 0.9rem 
					.box .box-footer .btn {
    margin-bottom: 20px 
			991 
				&.98px) 
					#top {
    font-size: 0.738rem 
					text-align: center 
					.navbar .navbar-nav > .nav-item > .nav-link {
    padding: 10px 15px !important 
					.navbar .dropdown-menu {
    position: relative !important 
					border: none 
					.navbar .megamenu {
    padding: 15px !important 
					-webkit-box-shadow: none 
					box-shadow: none 
	screen 
		and 
			(prefers-reduced-motion 
				&: 
					reduce) 
						.btn {
    -webkit-transition: none 
						transition: none 
						.form-control {
    -webkit-transition: none 
						transition: none 
	(min-width 
		&: 
			576px) 
				.card-deck {
    margin-right: -15px 
				margin-left: -15px 
} 
	#top 
		a 
			color: #fff 
	@media 
		(min-width 
			&: 
				992px) 
					.navbar .dropdown: hover .dropdown-menu {
    display: block 
	.navbar 
		.megamenu 
			padding: 30px !important 
			-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) 
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) 
		.menu-large 
			h5 
				font-size: 1.125rem 
				font-weight: 400 
				text-transform: uppercase 
				letter-spacing: 0.1em 
				padding-bottom: 10px 
				border-bottom: dotted 1px #555 
			ul 
				margin: 0 
				padding: 0 
	.box 
		&.slideshow 
			padding: 20px 0 0 0 
			text-align: center 
	.form-control 
		&::-ms-expand 
			background-color: transparent 
			border: 0 
	.dropdown-menu 
		min-width: 10rem 
		padding: 0.5rem 0 
		margin: 0.125rem 0 0 
		font-size: 0.9rem 
		color: #212529 
		background-color: #fff 
		border: 1px solid rgba(0, 0, 0, 0.15) 
		border-radius: 0.25rem 
.navbar 
	border-bottom: 1px solid #e6e6e6 
	background-color: #fff 
	padding: 0 1rem 
	.navbar-nav 
		& > .nav-item 
			& > .nav-link 
				text-transform: uppercase 
				letter-spacing: 0.1em 
				font-weight: 700 
				padding: 30px 15px !important 
				color: #555 
	.menu-large 
		ul 
			.nav-item 
				list-style-type: none 
				border-bottom: solid 1px #eee 
				text-transform: uppercase 
				letter-spacing: 0.1em 
				padding: 4px 0 
				a 
					color: #999 
					font-size: 0.738rem 
					display: block 
					padding: 0 !important 
					&:hover 
						color: #9055A2 !important 
						text-decoration: none 
		.banner 
			margin-bottom: 10px 
	#basket-overview 
		padding: 0 
	.navbar-btn 
		color: #fff 
		margin-right: 10px 
}
.navbar .navbar-nav > .nav-item > .nav-link.active, .navbar .navbar-nav > .nav-item > .nav-link:hover, .navbar .navbar-nav > .nav-item > .nav-link:focus 
	background: #9055A2 
#search 
	background: #fff 
	.container 
		text-align: right 
	form 
		max-width: 500px 
		padding: 20px 0 
	.navbar-form 
		float: right 
		width: 500px 
.breadcrumb 
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) 
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) 
	background: #fff 
	border-radius: 0 
	padding: 0.5rem 1rem 
#hot 
	h2 
		text-transform: uppercase 
		letter-spacing: 0.1em 
		font-size: 2.25rem 
		color: #9055A2 
		font-weight: 100 
		text-align: center 
	.product-slider 
		clear: both 
		margin-bottom: 20px 
		.item 
			margin: 0 25px 
		.product 
			margin-bottom: 0 
		.owl-dots 
			position: relative 
			margin-bottom: 30px 
#advantages 
	text-align: center 
	.box 
		.icon 
			position: absolute 
			font-size: 120px 
			width: 100% 
			text-align: center 
			top: -20px 
			left: 0 
			height: 100% 
			float: left 
			color: #eee 
			-webkit-transition: all 0.3s 
			transition: all 0.3s 
			z-index: 1 
		h3 
			position: relative 
			margin: 0 0 10px 
			font-weight: 300 
			text-transform: uppercase 
			letter-spacing: 0.1em 
			z-index: 2 
			a 
				&:hover 
					text-decoration: none 
		p 
			position: relative 
			color: #555 
			z-index: 2 
#main-slider 
	margin-bottom: 30px 
	border: solid 1px #fff 
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) 
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) 
.box.slideshow ul li div, #main-slider ul li div 
	width: 100% 
.box.slideshow .owl-dots, #main-slider .owl-dots 
	position: absolute 
	right: 20px 
	bottom: 10px 
#footer 
	background: #e0e0e0 
	padding: 100px 0 
	ul 
		padding-left: 0 
		list-style: none 
		a 
			color: #999 
	.social 
		text-align: left 
		a 
			margin: 0 10px 0 0 
			color: #fff 
			display: inline-block 
			width: 30px 
			height: 30px 
			border-radius: 15px 
			line-height: 26px 
			font-size: 15px 
			text-align: center 
			-webkit-transition: all 0.3s 
			transition: all 0.3s 
			vertical-align: bottom 
			background-color: #555 
			i 
				vertical-align: bottom 
				line-height: 30px 
			&.facebook 
				&:hover 
					background-color: #4460ae 
			&.gplus 
				&:hover 
					background-color: #c21f25 
			&.twitter 
				&:hover 
					background-color: #3cf 
			&.instagram 
				&:hover 
					background-color: #cd4378 
			&.email 
				&:hover 
					background-color: #4a7f45 
#copyright 
	background: #333 
	color: #ccc 
	padding: 20px 0 
	font-size: 0.738rem 
	p 
		margin: 0 
.box 
	background: #fff 
	margin: 0 0 30px 
	border: solid 1px #e6e6e6 
	padding: 20px 
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) 
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) 
	.box-header 
		clear: both 
		background: #f7f7f7 
		margin: -20px -20px 20px 
		padding: 20px 
		border-bottom: solid 1px #eee 
	.box-footer 
		clear: both 
		background: #f7f7f7 
		margin: 30px -20px -20px 
		padding: 20px 
		border-top: solid 1px #eee 
	&.slideshow 
		h3 
			text-transform: uppercase 
			letter-spacing: 0.1em 
			font-weight: 700 
.ribbon 
	position: absolute 
	top: 50px 
	padding-left: 51px 
	z-index: 20 
	text-transform: uppercase 
	letter-spacing: 0.2em 
	.ribbon-background 
		position: absolute 
		top: 0 
		right: 0 
	.theribbon 
		position: relative 
		width: 80px 
		padding: 6px 20px 6px 20px 
		margin: 30px 10px 10px -71px 
		color: #fff 
		background-color: #9055A2 
		text-shadow: 0px 1px 2px #bbb 
		&:after 
			left: 0px 
			top: 100% 
			border-width: 5px 10px 
			border-style: solid 
			border-color: #55325f #55325f transparent transparent 
	&.sale 
		top: 0 
	&.new 
		top: 50px 
		.theribbon 
			background-color: #17a2b8 
			text-shadow: 0px 1px 2px #bbb 
			&:after 
				border-color: #0c525d #0c525d transparent transparent 
	&.gift 
		top: 100px 
		.theribbon 
			background-color: #28a745 
			text-shadow: 0px 1px 2px #bbb 
			&:after 
				border-color: #145523 #145523 transparent transparent 
.ribbon .theribbon:before, .ribbon .theribbon:after 
	content: ' ' 
	position: absolute 
	width: 0 
	height: 0 
#content 
	.card 
		&.sidebar-menu 
			-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) 
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) 
			.card-header 
				.btn 
					&.btn-danger 
						color: #fff 
			.badge-light 
				color: #9055A2 
			.card 
				padding: 15px 
				background: #fff 
				span 
					&.colour 
						display: inline-block 
						width: 15px 
						height: 15px 
						border: solid 1px #555 
						vertical-align: top 
						margin-top: 2px 
						margin-left: 5px 
						&.white 
							background: #fff 
						&.red 
							background: red 
						&.green 
							background: green 
						&.blue 
							background: blue 
						&.yellow 
							background: yellow 
				label 
					color: #555 
					font-size: 0.738rem 
					&::hover 
						color: #555 
			h3 
				padding: 5px 0 
				margin: 0 
			ul 
				&.nav 
					&.category-menu 
						margin-bottom: 20px 
						li 
							a 
								text-transform: uppercase 
								letter-spacing: 0.1em 
								font-weight: bold 
								border-radius: 0 
								display: -webkit-box 
								display: -ms-flexbox 
								display: flex 
								-webkit-box-pack: justify 
								-ms-flex-pack: justify 
								justify-content: space-between 
								-webkit-box-align: center 
								-ms-flex-align: center 
								align-items: center 
								&:not(.active):hover 
									background: #eeeeee 
					ul 
						list-style: none 
						padding-left: 0 
						li 
							display: block 
							a 
								position: relative 
								font-weight: normal 
								text-transform: none !important 
								display: block 
								padding: 10px 15px 
								padding-left: 30px 
								font-size: 0.738rem 
								color: #555 
	.info-bar 
		line-height: 32px 
		vertical-align: middle 
		.products-number 
			strong 
				margin-right: 10px 
			span 
				margin-left: 10px 
		.products-sort-by 
			select 
				margin-left: 10px 
	.product 
		background: #fff 
		border: solid 1px #e6e6e6 
		margin-bottom: 30px 
		.flip-container 
			cursor: pointer 
			-webkit-perspective: 1000 
			perspective: 1000 
			-webkit-transform-style: preserve-3d 
			transform-style: preserve-3d 
		.flipper 
			-webkit-backface-visibility: hidden 
			backface-visibility: hidden 
			-webkit-transition: 0.6s 
			transition: 0.6s 
			-webkit-transform-style: preserve-3d 
			transform-style: preserve-3d 
			position: relative 
		.front 
			z-index: 2 
			-webkit-transform: rotateY(0deg) 
			transform: rotateY(0deg) 
		.back 
			-webkit-transform: rotateY(-180deg) 
			transform: rotateY(-180deg) 
		&:hover 
			.back 
				-webkit-transform: rotateY(0deg) 
				transform: rotateY(0deg) 
				z-index: 2 
			.front 
				-webkit-transform: rotateY(180deg) 
				transform: rotateY(180deg) 
				z-index: 1 
		.invisible 
			visibility: hidden 
		.text 
			padding: 10px 10px 0 
			h3 
				font-size: 1.125rem 
				font-weight: 700 
				height: 42px 
				text-align: center 
				overflow: hidden 
				a 
					color: #555 
			p 
				&.price 
					font-size: 1.125rem 
					text-align: center 
					font-weight: 300 
					del 
						color: #999 
			.buttons 
				clear: both 
				text-align: center 
				.btn 
					margin-bottom: 10px 
	.banner 
		margin-bottom: 30px 
	.pages 
		text-align: center 
		.loadMore 
			text-align: center 
		.pagination 
			text-align: center 
	#mainImage 
		-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) 
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) 
	#productMain 
		margin-bottom: 30px 
		.goToDescription 
			margin-top: 20px 
			font-size: 0.738rem 
			text-align: center 
			a 
				color: #999 
				text-decoration: underline 
		.price 
			font-size: 1.8rem 
			font-weight: 300 
			text-align: center 
			margin-top: 40px 
		.buttons 
			margin-bottom: 0 
			text-align: center 
			.btn 
				margin-bottom: 10px 
	#details 
		.social 
			text-align: left 
			h4 
				font-weight: 300 
				margin-bottom: 10px 
			p 
				line-height: 26px 
				a 
					margin: 0 10px 0 0 
					color: #fff 
					display: inline-block 
					width: 26px 
					height: 26px 
					border-radius: 13px 
					line-height: 26px 
					font-size: 15px 
					text-align: center 
					-webkit-transition: all 0.3s 
					transition: all 0.3s 
					vertical-align: bottom 
					i 
						vertical-align: bottom 
						line-height: 26px 
					&.facebook 
						background-color: #4460ae 
					&.gplus 
						background-color: #c21f25 
					&.twitter 
						background-color: #3cf 
					&.instagram 
						background-color: #cd4378 
					&.email 
						background-color: #4a7f45 
	#thumbs 
		a 
			display: block 
			-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) 
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) 
			border: solid 2px transparent 
			&.active 
				border-color: #9055A2 
	#checkout 
		.nav 
			margin-bottom: 20px 
			border-bottom: solid 1px #9055A2 
			a 
				display: block 
				height: 100% 
				i 
					display: block 
					margin-bottom: 5px 
	#order-summary 
		table 
			margin-top: 20px 
			td 
				color: #999 
	#error-page 
		text-align: center 
		h4 
			margin-bottom: 40px 
		p 
			&.buttons 
				margin-top: 40px 
	#map 
		height: 400px 
	#blog-homepage 
		.post 
			margin-bottom: 30px 
			.intro 
				font-weight: 300 
			.read-more 
				margin-top: 20px 
	#blog-post 
		.author-date 
			color: #999 
			font-weight: 300 
		#post-content 
			margin-bottom: 20px 
		.comment 
			clear: both 
			margin-bottom: 25px 
			.posted 
				color: #999 
				font-size: 0.738rem 
			.reply 
				font-family: "Roboto", Helvetica, Arial, sans-serif 
			&.last 
				margin-bottom: 0 
		#comment-form 
			margin-bottom: 20px 
	#customer-order 
		.table 
			tfoot 
				th 
					font-size: 1.125rem 
					font-weight: 300 
		.addresses 
			text-align: right 
			p 
				font-size: 1.125rem 
				font-weight: 300 
#content .card.sidebar-menu ul.nav ul li a:hover, #content .card.sidebar-menu ul.nav ul li a:focus 
	text-decoration: none 
	background-color: #eeeeee 
#content .product .flip-container, #content .product .front, #content .product .back 
	width: 100% 
#content .product .front, #content .product .back 
	-webkit-transform-style: preserve-3d 
	transform-style: preserve-3d 
	-webkit-transition: 0.6s 
	transition: 0.6s 
	transform-style: preserve-3d 
	position: absolute 
	top: 0 
	left: 0 
#content #order-summary table tr.total td, #content #order-summary table tr.total th 
	font-size: 1.125rem 
	color: #555 
	font-weight: 700 
#content #checkout .table tbody tr td, #content #basket .table tbody tr td, #content #customer-order .table tbody tr td 
	vertical-align: middle 
#content #checkout .table tbody tr td input, #content #basket .table tbody tr td input, #content #customer-order .table tbody tr td input 
	width: 50px 
	text-align: right 
#content #checkout .table tbody tr td img, #content #basket .table tbody tr td img, #content #customer-order .table tbody tr td img 
	width: 50px 
#content #checkout .table tfoot, #content #basket .table tfoot, #content #customer-order .table tfoot 
	font-size: 1.125rem 
#content #text-page h1, #content #text-page h2, #content #text-page h3 
	font-weight: 700 
#content #blog-listing .post, #content #blog-homepage .post 
	margin-bottom: 15px 
	background: #fff 
	margin: 0 0 30px 
	border: solid 1px #e6e6e6 
	padding: 20px 
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) 
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) 
#content #blog-listing .post h2 a, #content #blog-listing .post h4 a, #content #blog-homepage .post h2 a, #content #blog-homepage .post h4 a 
	color: #555 
#content #blog-listing .post h2 a:hover, #content #blog-listing .post h4 a:hover, #content #blog-homepage .post h2 a:hover, #content #blog-homepage .post h4 a:hover 
	color: #9055A2 
#content #blog-listing .post .author-category, #content #blog-homepage .post .author-category 
	color: #999 
	font-weight: 300 
#content #blog-listing .post .date-comments a, #content #blog-homepage .post .date-comments a 
	color: #999 
	margin-right: 20px 
#content #blog-listing .post .date-comments a:hover, #content #blog-homepage .post .date-comments a:hover 
	color: #9055A2 
#content #blog-listing .post .intro, #content #blog-homepage .post .intro 
	text-align: left 
#content #blog-listing .post .image, #content #blog-homepage .post .image 
	margin-bottom: 10px 
	overflow: hidden 
#content #blog-listing .post .image img, #content #blog-homepage .post .image img 
	-webkit-transition: all 0.3s 
	transition: all 0.3s 
#content #blog-listing .post .read-more, #content #blog-homepage .post .read-more 
	text-align: right 
#content #blog-listing .post:hover .image img, #content #blog-homepage .post:hover .image img 
	-webkit-transform: scale(1.1, 1.1) 
	transform: scale(1.1, 1.1) 
#content #blog-listing .pager, #content #blog-homepage .pager 
	margin: 20px 0 
#content #blog-listing .pager a, #content #blog-homepage .pager a 
	border-radius: 30px !important 
	background: #fff 
	text-transform: uppercase 
	letter-spacing: 0.1em 
#content #blog-listing .pager a:not(.disabled):hover, #content #blog-homepage .pager a:not(.disabled):hover 
	background: #9055A2 
#content #blog-homepage .post h2, #content #blog-homepage .post h4, #content #blog-homepage .post .author-category, #content #blog-homepage .post .read-more 
	text-align: center 
#content #blog-post #comments, #content #blog-post #comment-form 
	clear: both 
#content #blog-post #comments h4, #content #blog-post #comment-form h4 
	margin-bottom: 20px 
#content #customer-orders table tr th, #content #customer-orders table tr td 
	vertical-align: baseline 
.owl-carousel 
	.owl-dots 
		.owl-dot 
			outline: none 
			span 
				width: 12px 
				height: 12px 
			&.active 
				span 
					background: #9055A2 
.owl-thumbs 
	button 
		display: inline-block 
		background: none 
		border: none 
		margin-right: 8px 
		margin-bottom: 10px 
		padding: 0 
		outline: none 
		cursor: pointer 
		opacity: .6 
		&.active 
			opacity: 1 
		img 
			max-width: 88px 
#style-switch-button 
	position: fixed 
	top: 120px 
	left: 0px 
	border-radius: 0 
	z-index: 2 
#style-switch 
	width: 300px 
	padding: 20px 
	position: fixed 
	top: 160px 
	left: 0 
	background: #fff 
	border: solid 1px #ced4da 
	z-index: 2000 
	h4 
		color: #495057 
.navbar-brand 
	display: inline-block 
	padding-top: 0.33125rem 
	padding-bottom: 0.33125rem 
	margin-right: 1rem 
	font-size: 1.125rem 
.navbar-toggler 
	padding: 0.25rem 0.75rem 
	font-size: 1.125rem 
	line-height: 1 
	border: 1px solid transparent 
	border-radius: 0.25rem 
.navbar-light 
	.navbar-brand 
		color: rgba(0, 0, 0, 0.9) 
	.navbar-nav 
		.nav-link 
			color: rgba(0, 0, 0, 0.5) 
			&.disabled 
				color: rgba(0, 0, 0, 0.3) 
	.navbar-toggler 
		color: rgba(0, 0, 0, 0.5) 
		border-color: rgba(0, 0, 0, 0.1) 
	.navbar-toggler-icon 
		background-image: url("data:image/svg+xml 
		charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http: //www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") 
	.navbar-text 
		color: rgba(0, 0, 0, 0.5) 
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus 
	color: rgba(0, 0, 0, 0.9) 
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus 
	color: rgba(0, 0, 0, 0.7) 
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active 
	color: rgba(0, 0, 0, 0.9) 
.navbar-dark 
	.navbar-brand 
		color: #fff 
	.navbar-nav 
		.nav-link 
			color: rgba(255, 255, 255, 0.5) 
			&.disabled 
				color: rgba(255, 255, 255, 0.25) 
	.navbar-toggler 
		color: rgba(255, 255, 255, 0.5) 
		border-color: rgba(255, 255, 255, 0.1) 
	.navbar-toggler-icon 
		background-image: url("data:image/svg+xml 
		charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http: //www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") 
	.navbar-text 
		color: rgba(255, 255, 255, 0.5) 
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus 
	color: #fff 
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus 
	color: rgba(255, 255, 255, 0.75) 
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active 
	color: #fff 
}
.btn:focus, .btn.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(144, 85, 162, 0.25) 
	box-shadow: 0 0 0 0.2rem rgba(144, 85, 162, 0.25) 
.btn.disabled, .btn:disabled 
	opacity: 0.65 
.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active 
	background-image: none 
.btn-link 
	font-weight: 400 
	color: #9055A2 
	&:hover 
		color: #633b70 
		text-decoration: underline 
.btn-link:focus, .btn-link.focus 
	text-decoration: underline 
.btn-link:disabled, .btn-link.disabled 
	color: #6c757d 
.btn-primary:focus, .btn-primary.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(144, 85, 162, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(144, 85, 162, 0.5) 
.btn-primary.disabled, .btn-primary:disabled 
	color: #fff 
	background-color: #9055A2 
	border-color: #9055A2 
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle 
	color: #fff 
	background-color: #724381 
	border-color: #6b3f78 
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(144, 85, 162, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(144, 85, 162, 0.5) 
.btn-secondary 
	color: #fff 
	background-color: #6c757d 
	border-color: #6c757d 
	&:hover 
		color: #fff 
		background-color: #5a6268 
		border-color: #545b62 
.btn-secondary:focus, .btn-secondary.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5) 
.btn-secondary.disabled, .btn-secondary:disabled 
	color: #fff 
	background-color: #6c757d 
	border-color: #6c757d 
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle 
	color: #fff 
	background-color: #545b62 
	border-color: #4e555b 
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5) 
.btn-success 
	color: #fff 
	background-color: #28a745 
	border-color: #28a745 
	&:hover 
		color: #fff 
		background-color: #218838 
		border-color: #1e7e34 
.btn-success:focus, .btn-success.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5) 
.btn-success.disabled, .btn-success:disabled 
	color: #fff 
	background-color: #28a745 
	border-color: #28a745 
.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle 
	color: #fff 
	background-color: #1e7e34 
	border-color: #1c7430 
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5) 
.btn-info 
	color: #fff 
	background-color: #17a2b8 
	border-color: #17a2b8 
	&:hover 
		color: #fff 
		background-color: #138496 
		border-color: #117a8b 
.btn-info:focus, .btn-info.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5) 
.btn-info.disabled, .btn-info:disabled 
	color: #fff 
	background-color: #17a2b8 
	border-color: #17a2b8 
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle 
	color: #fff 
	background-color: #117a8b 
	border-color: #10707f 
.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5) 
.btn-warning 
	color: #212529 
	background-color: #ffc107 
	border-color: #ffc107 
	&:hover 
		color: #212529 
		background-color: #e0a800 
		border-color: #d39e00 
.btn-warning:focus, .btn-warning.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5) 
.btn-warning.disabled, .btn-warning:disabled 
	color: #212529 
	background-color: #ffc107 
	border-color: #ffc107 
.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle 
	color: #212529 
	background-color: #d39e00 
	border-color: #c69500 
.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5) 
.btn-danger 
	color: #fff 
	background-color: #dc3545 
	border-color: #dc3545 
	&:hover 
		color: #fff 
		background-color: #c82333 
		border-color: #bd2130 
.btn-danger:focus, .btn-danger.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) 
.btn-danger.disabled, .btn-danger:disabled 
	color: #fff 
	background-color: #dc3545 
	border-color: #dc3545 
.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle 
	color: #fff 
	background-color: #bd2130 
	border-color: #b21f2d 
.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) 
.btn-light 
	color: #212529 
	background-color: #f8f9fa 
	border-color: #f8f9fa 
	&:hover 
		color: #212529 
		background-color: #e2e6ea 
		border-color: #dae0e5 
.btn-light:focus, .btn-light.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5) 
.btn-light.disabled, .btn-light:disabled 
	color: #212529 
	background-color: #f8f9fa 
	border-color: #f8f9fa 
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle 
	color: #212529 
	background-color: #dae0e5 
	border-color: #d3d9df 
.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5) 
.btn-dark 
	color: #fff 
	background-color: #343a40 
	border-color: #343a40 
	&:hover 
		color: #fff 
		background-color: #23272b 
		border-color: #1d2124 
.btn-dark:focus, .btn-dark.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5) 
.btn-dark.disabled, .btn-dark:disabled 
	color: #fff 
	background-color: #343a40 
	border-color: #343a40 
.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle 
	color: #fff 
	background-color: #1d2124 
	border-color: #171a1d 
.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5) 
.btn-outline-primary 
	color: #9055A2 
	background-color: transparent 
	background-image: none 
	border-color: #9055A2 
	&:hover 
		color: #fff 
		background-color: #9055A2 
		border-color: #9055A2 
.btn-outline-primary:focus, .btn-outline-primary.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(144, 85, 162, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(144, 85, 162, 0.5) 
.btn-outline-primary.disabled, .btn-outline-primary:disabled 
	color: #9055A2 
	background-color: transparent 
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle 
	color: #fff 
	background-color: #9055A2 
	border-color: #9055A2 
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(144, 85, 162, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(144, 85, 162, 0.5) 
.btn-outline-secondary 
	color: #6c757d 
	background-color: transparent 
	background-image: none 
	border-color: #6c757d 
	&:hover 
		color: #fff 
		background-color: #6c757d 
		border-color: #6c757d 
.btn-outline-secondary:focus, .btn-outline-secondary.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5) 
.btn-outline-secondary.disabled, .btn-outline-secondary:disabled 
	color: #6c757d 
	background-color: transparent 
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle 
	color: #fff 
	background-color: #6c757d 
	border-color: #6c757d 
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5) 
.btn-outline-success 
	color: #28a745 
	background-color: transparent 
	background-image: none 
	border-color: #28a745 
	&:hover 
		color: #fff 
		background-color: #28a745 
		border-color: #28a745 
.btn-outline-success:focus, .btn-outline-success.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5) 
.btn-outline-success.disabled, .btn-outline-success:disabled 
	color: #28a745 
	background-color: transparent 
.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle 
	color: #fff 
	background-color: #28a745 
	border-color: #28a745 
.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5) 
.btn-outline-info 
	color: #17a2b8 
	background-color: transparent 
	background-image: none 
	border-color: #17a2b8 
	&:hover 
		color: #fff 
		background-color: #17a2b8 
		border-color: #17a2b8 
.btn-outline-info:focus, .btn-outline-info.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5) 
.btn-outline-info.disabled, .btn-outline-info:disabled 
	color: #17a2b8 
	background-color: transparent 
.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle 
	color: #fff 
	background-color: #17a2b8 
	border-color: #17a2b8 
.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5) 
.btn-outline-warning 
	color: #ffc107 
	background-color: transparent 
	background-image: none 
	border-color: #ffc107 
	&:hover 
		color: #fff 
		background-color: #ffc107 
		border-color: #ffc107 
.btn-outline-warning:focus, .btn-outline-warning.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5) 
.btn-outline-warning.disabled, .btn-outline-warning:disabled 
	color: #ffc107 
	background-color: transparent 
.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle 
	color: #212529 
	background-color: #ffc107 
	border-color: #ffc107 
.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5) 
.btn-outline-danger 
	color: #dc3545 
	background-color: transparent 
	background-image: none 
	border-color: #dc3545 
	&:hover 
		color: #fff 
		background-color: #dc3545 
		border-color: #dc3545 
.btn-outline-danger:focus, .btn-outline-danger.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) 
.btn-outline-danger.disabled, .btn-outline-danger:disabled 
	color: #dc3545 
	background-color: transparent 
.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle 
	color: #fff 
	background-color: #dc3545 
	border-color: #dc3545 
.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) 
.btn-outline-light 
	color: #f8f9fa 
	background-color: transparent 
	background-image: none 
	border-color: #f8f9fa 
	&:hover 
		color: #fff 
		background-color: #f8f9fa 
		border-color: #f8f9fa 
.btn-outline-light:focus, .btn-outline-light.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5) 
.btn-outline-light.disabled, .btn-outline-light:disabled 
	color: #f8f9fa 
	background-color: transparent 
.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle 
	color: #212529 
	background-color: #f8f9fa 
	border-color: #f8f9fa 
.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5) 
.btn-outline-dark 
	color: #343a40 
	background-color: transparent 
	background-image: none 
	border-color: #343a40 
	&:hover 
		color: #fff 
		background-color: #343a40 
		border-color: #343a40 
.btn-outline-dark:focus, .btn-outline-dark.focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5) 
.btn-outline-dark.disabled, .btn-outline-dark:disabled 
	color: #343a40 
	background-color: transparent 
.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle 
	color: #fff 
	background-color: #343a40 
	border-color: #343a40 
.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5) 
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5) 
.btn-lg 
	padding: 0.5rem 1rem 
	font-size: 1.125rem 
	line-height: 1.5 
	border-radius: 0.3rem 
.btn-sm 
	padding: 0.25rem 0.5rem 
	font-size: 0.738rem 
	line-height: 1.5 
	border-radius: 0.2rem 
a 
	color: #9055A2 
	text-decoration: none 
a:hover, a:focus 
	color: #633b70 
	text-decoration: underline 
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 
	margin-bottom: 0.5rem 
	font-family: inherit 
	font-weight: 500 
	line-height: 1.2 
	color: inherit 
h1,
.h1 
	font-size: 2.25rem 
h2,
.h2 
	font-size: 1.8rem 
h3,
.h3 
	font-size: 1.53rem 
h4,
.h4 
	font-size: 1.125rem 
h5,
.h5 
	font-size: 0.9rem 
h6,
.h6 
	font-size: 0.765rem 
.lead 
	font-size: 1.125rem 
	font-weight: 300 
.display-1 
	font-size: 6rem 
	font-weight: 300 
	line-height: 1.2 
.display-2 
	font-size: 5.5rem 
	font-weight: 300 
	line-height: 1.2 
.display-3 
	font-size: 4.5rem 
	font-weight: 300 
	line-height: 1.2 
.display-4 
	font-size: 3.5rem 
	font-weight: 300 
	line-height: 1.2 
hr 
	border-top: 1px solid rgba(0, 0, 0, 0.1) 
small,
.small 
	font-size: 80% 
	font-weight: 400 
mark,
.mark 
	padding: 0.2em 
	background-color: #fcf8e3 
.blockquote 
	padding: 0.5rem 1rem 
	margin-bottom: 2rem 
	font-size: 0.9rem 
	border-left: 5px solid #9055A2 
.blockquote-footer 
	color: #6c757d 
	&::before 
		content: "\2014 \00A0" 
.text-primary 
	color: #9055A2 !important 
	color: #9055A2 !important 
a.text-primary:hover, a.text-primary:focus 
	color: #724381 !important 
	color: #724381 !important 
.text-uppercase 
	text-transform: uppercase 
	letter-spacing: 0.1em 
.page-item 
	&:first-child 
		.page-link 
			border-top-left-radius: 0.25rem 
			border-bottom-left-radius: 0.25rem 
	&:last-child 
		.page-link 
			border-top-right-radius: 0.25rem 
			border-bottom-right-radius: 0.25rem 
	&.active 
		.page-link 
			color: #fff 
			background-color: #9055A2 
			border-color: #9055A2 
	&.disabled 
		.page-link 
			color: #6c757d 
			background-color: #fff 
			border-color: #dee2e6 
.page-link 
	padding: 0.5rem 0.75rem 
	line-height: 1.25 
	color: #9055A2 
	background-color: #fff 
	border: 1px solid #dee2e6 
.page-link:hover, .page-link:focus 
	color: #633b70 
	text-decoration: none 
	background-color: #e9ecef 
	border-color: #dee2e6 
.pagination-lg 
	.page-link 
		padding: 0.75rem 1.5rem 
		font-size: 1.125rem 
		line-height: 1.5 
	.page-item 
		&:first-child 
			.page-link 
				border-top-left-radius: 0.3rem 
				border-bottom-left-radius: 0.3rem 
		&:last-child 
			.page-link 
				border-top-right-radius: 0.3rem 
				border-bottom-right-radius: 0.3rem 
.pagination-sm 
	.page-link 
		padding: 0.25rem 0.5rem 
		font-size: 0.738rem 
		line-height: 1.5 
	.page-item 
		&:first-child 
			.page-link 
				border-top-left-radius: 0.2rem 
				border-bottom-left-radius: 0.2rem 
		&:last-child 
			.page-link 
				border-top-right-radius: 0.2rem 
				border-bottom-right-radius: 0.2rem 
.bg-primary 
	background-color: #9055A2 !important 
a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus 
	background-color: #724381 !important 
.bg-secondary 
	background-color: #6c757d !important 
a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus 
	background-color: #545b62 !important 
.bg-success 
	background-color: #28a745 !important 
a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus 
	background-color: #1e7e34 !important 
.bg-info 
	background-color: #17a2b8 !important 
a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus 
	background-color: #117a8b !important 
.bg-warning 
	background-color: #ffc107 !important 
a.bg-warning:hover, a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus 
	background-color: #d39e00 !important 
.bg-danger 
	background-color: #dc3545 !important 
a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus 
	background-color: #bd2130 !important 
.bg-light 
	background-color: #f8f9fa !important 
a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus 
	background-color: #dae0e5 !important 
.bg-dark 
	background-color: #343a40 !important 
a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus 
	background-color: #1d2124 !important 
.border-primary 
	border-color: #9055A2 !important 
.border-secondary 
	border-color: #6c757d !important 
.border-success 
	border-color: #28a745 !important 
.border-info 
	border-color: #17a2b8 !important 
.border-warning 
	border-color: #ffc107 !important 
.border-danger 
	border-color: #dc3545 !important 
.border-light 
	border-color: #f8f9fa !important 
.border-dark 
	border-color: #343a40 !important 
.text-secondary 
	color: #6c757d !important 
a.text-secondary:hover, a.text-secondary:focus 
	color: #545b62 !important 
.text-success 
	color: #28a745 !important 
a.text-success:hover, a.text-success:focus 
	color: #1e7e34 !important 
.text-info 
	color: #17a2b8 !important 
a.text-info:hover, a.text-info:focus 
	color: #117a8b !important 
.text-warning 
	color: #ffc107 !important 
a.text-warning:hover, a.text-warning:focus 
	color: #d39e00 !important 
.text-danger 
	color: #dc3545 !important 
a.text-danger:hover, a.text-danger:focus 
	color: #bd2130 !important 
.text-light 
	color: #f8f9fa !important 
a.text-light:hover, a.text-light:focus 
	color: #dae0e5 !important 
.text-dark 
	color: #343a40 !important 
a.text-dark:hover, a.text-dark:focus 
	color: #1d2124 !important 
.badge-primary 
	color: #fff 
	background-color: #9055A2 
.badge-primary[href]:hover, .badge-primary[href]:focus 
	color: #fff 
	text-decoration: none 
	background-color: #724381 
.badge-secondary 
	color: #fff 
	background-color: #6c757d 
.badge-secondary[href]:hover, .badge-secondary[href]:focus 
	color: #fff 
	text-decoration: none 
	background-color: #545b62 
.badge-success 
	color: #fff 
	background-color: #28a745 
.badge-success[href]:hover, .badge-success[href]:focus 
	color: #fff 
	text-decoration: none 
	background-color: #1e7e34 
.badge-info 
	color: #fff 
	background-color: #17a2b8 
.badge-info[href]:hover, .badge-info[href]:focus 
	color: #fff 
	text-decoration: none 
	background-color: #117a8b 
.badge-warning 
	color: #212529 
	background-color: #ffc107 
.badge-warning[href]:hover, .badge-warning[href]:focus 
	color: #212529 
	text-decoration: none 
	background-color: #d39e00 
.badge-danger 
	color: #fff 
	background-color: #dc3545 
.badge-danger[href]:hover, .badge-danger[href]:focus 
	color: #fff 
	text-decoration: none 
	background-color: #bd2130 
.badge-light 
	color: #212529 
	background-color: #f8f9fa 
.badge-light[href]:hover, .badge-light[href]:focus 
	color: #212529 
	text-decoration: none 
	background-color: #dae0e5 
.badge-dark 
	color: #fff 
	background-color: #343a40 
.badge-dark[href]:hover, .badge-dark[href]:focus 
	color: #fff 
	text-decoration: none 
	background-color: #1d2124 
.form-control 
	padding: 0.375rem 0.75rem 
	font-size: 0.9rem 
	line-height: 1.5 
	color: #495057 
	background-color: #fff 
	border: 1px solid #ced4da 
	border-radius: 0.25rem 
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out 
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out 
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out 
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out 
	&:focus 
		color: #495057 
		background-color: #fff 
		border-color: #c6a6d0 
		outline: 0 
		-webkit-box-shadow: 0 0 0 0.2rem rgba(144, 85, 162, 0.25) 
		box-shadow: 0 0 0 0.2rem rgba(144, 85, 162, 0.25) 
	&::-webkit-input-placeholder 
		color: #6c757d 
	&:-ms-input-placeholder 
		color: #6c757d 
	&::-ms-input-placeholder 
		color: #6c757d 
	&::placeholder 
		color: #6c757d 
.form-control:disabled, .form-control[readonly] 
	background-color: #e9ecef 
select 
	&.form-control 
		&:not([size]):not([multiple]) 
			height: calc(2.1rem + 2px) 
		&:focus 
			&::-ms-value 
				color: #495057 
				background-color: #fff 
	&.form-control-sm 
		&:not([size]):not([multiple]) 
			height: calc(1.607rem + 2px) 
	&.form-control-lg 
		&:not([size]):not([multiple]) 
			height: calc(2.6875rem + 2px) 
.form-control-sm 
	padding: 0.25rem 0.5rem 
	font-size: 0.738rem 
	line-height: 1.5 
	border-radius: 0.2rem 
.form-control-lg 
	padding: 0.5rem 1rem 
	font-size: 1.125rem 
	line-height: 1.5 
	border-radius: 0.3rem 
.valid-feedback 
	display: none 
	width: 100% 
	margin-top: 0.25rem 
	font-size: 80% 
	color: #28a745 
.valid-tooltip 
	position: absolute 
	top: 100% 
	z-index: 5 
	display: none 
	max-width: 100% 
	padding: .5rem 
	margin-top: .1rem 
	font-size: .875rem 
	line-height: 1 
	color: #fff 
	background-color: rgba(40, 167, 69, 0.8) 
	border-radius: .2rem 
.was-validated .form-control:valid, .form-control.is-valid, .was-validated
.custom-select:valid,
.custom-select.is-valid 
	border-color: #28a745 
.was-validated .form-control:valid:focus, .form-control.is-valid:focus, .was-validated
.custom-select:valid:focus,
.custom-select.is-valid:focus 
	border-color: #28a745 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) 
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) 
.was-validated .form-control:valid ~ .valid-feedback,
.was-validated .form-control:valid ~ .valid-tooltip, .form-control.is-valid ~ .valid-feedback,
.form-control.is-valid ~ .valid-tooltip, .was-validated
.custom-select:valid ~ .valid-feedback,
.was-validated
.custom-select:valid ~ .valid-tooltip,
.custom-select.is-valid ~ .valid-feedback,
.custom-select.is-valid ~ .valid-tooltip 
	display: block 
.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label 
	color: #28a745 
.was-validated .form-check-input:valid ~ .valid-feedback,
.was-validated .form-check-input:valid ~ .valid-tooltip, .form-check-input.is-valid ~ .valid-feedback,
.form-check-input.is-valid ~ .valid-tooltip 
	display: block 
.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label 
	color: #28a745 
.was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before 
	background-color: #71dd8a 
.was-validated .custom-control-input:valid ~ .valid-feedback,
.was-validated .custom-control-input:valid ~ .valid-tooltip, .custom-control-input.is-valid ~ .valid-feedback,
.custom-control-input.is-valid ~ .valid-tooltip 
	display: block 
.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before 
	background-color: #34ce57 
.was-validated .custom-control-input:valid:focus ~ .custom-control-label::before, .custom-control-input.is-valid:focus ~ .custom-control-label::before 
	-webkit-box-shadow: 0 0 0 1px #f0f0f0, 0 0 0 0.2rem rgba(40, 167, 69, 0.25) 
	box-shadow: 0 0 0 1px #f0f0f0, 0 0 0 0.2rem rgba(40, 167, 69, 0.25) 
.was-validated .custom-file-input:valid ~ .custom-file-label, .custom-file-input.is-valid ~ .custom-file-label 
	border-color: #28a745 
.was-validated .custom-file-input:valid ~ .custom-file-label::before, .custom-file-input.is-valid ~ .custom-file-label::before 
	border-color: inherit 
.was-validated .custom-file-input:valid ~ .valid-feedback,
.was-validated .custom-file-input:valid ~ .valid-tooltip, .custom-file-input.is-valid ~ .valid-feedback,
.custom-file-input.is-valid ~ .valid-tooltip 
	display: block 
.was-validated .custom-file-input:valid:focus ~ .custom-file-label, .custom-file-input.is-valid:focus ~ .custom-file-label 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) 
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) 
.invalid-feedback 
	display: none 
	width: 100% 
	margin-top: 0.25rem 
	font-size: 80% 
	color: #dc3545 
.invalid-tooltip 
	position: absolute 
	top: 100% 
	z-index: 5 
	display: none 
	max-width: 100% 
	padding: .5rem 
	margin-top: .1rem 
	font-size: .875rem 
	line-height: 1 
	color: #fff 
	background-color: rgba(220, 53, 69, 0.8) 
	border-radius: .2rem 
.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated
.custom-select:invalid,
.custom-select.is-invalid 
	border-color: #dc3545 
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, .was-validated
.custom-select:invalid:focus,
.custom-select.is-invalid:focus 
	border-color: #dc3545 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) 
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) 
.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-tooltip, .was-validated
.custom-select:invalid ~ .invalid-feedback,
.was-validated
.custom-select:invalid ~ .invalid-tooltip,
.custom-select.is-invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-tooltip 
	display: block 
.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label 
	color: #dc3545 
.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip 
	display: block 
.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label 
	color: #dc3545 
.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before 
	background-color: #efa2a9 
.was-validated .custom-control-input:invalid ~ .invalid-feedback,
.was-validated .custom-control-input:invalid ~ .invalid-tooltip, .custom-control-input.is-invalid ~ .invalid-feedback,
.custom-control-input.is-invalid ~ .invalid-tooltip 
	display: block 
.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .custom-control-input.is-invalid:checked ~ .custom-control-label::before 
	background-color: #e4606d 
.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.is-invalid:focus ~ .custom-control-label::before 
	-webkit-box-shadow: 0 0 0 1px #f0f0f0, 0 0 0 0.2rem rgba(220, 53, 69, 0.25) 
	box-shadow: 0 0 0 1px #f0f0f0, 0 0 0 0.2rem rgba(220, 53, 69, 0.25) 
.was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.is-invalid ~ .custom-file-label 
	border-color: #dc3545 
.was-validated .custom-file-input:invalid ~ .custom-file-label::before, .custom-file-input.is-invalid ~ .custom-file-label::before 
	border-color: inherit 
.was-validated .custom-file-input:invalid ~ .invalid-feedback,
.was-validated .custom-file-input:invalid ~ .invalid-tooltip, .custom-file-input.is-invalid ~ .invalid-feedback,
.custom-file-input.is-invalid ~ .invalid-tooltip 
	display: block 
.was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.is-invalid:focus ~ .custom-file-label 
	-webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) 
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) 
.custom-control-input 
	&:checked 
		& ~ .custom-control-label 
			&::before 
				color: #fff 
				background-color: #9055A2 
	&:focus 
		& ~ .custom-control-label 
			&::before 
				-webkit-box-shadow: 0 0 0 1px #f0f0f0, 0 0 0 0.2rem rgba(144, 85, 162, 0.25) 
				box-shadow: 0 0 0 1px #f0f0f0, 0 0 0 0.2rem rgba(144, 85, 162, 0.25) 
	&:active 
		& ~ .custom-control-label 
			&::before 
				color: #fff 
				background-color: #dcc8e2 
	&:disabled 
		& ~ .custom-control-label 
			color: #6c757d 
			&::before 
				background-color: #e9ecef 
.custom-checkbox 
	.custom-control-label 
		&::before 
			border-radius: 0.25rem 
	.custom-control-input 
		&:checked 
			& ~ .custom-control-label 
				&::before 
					background-color: #9055A2 
				&::after 
					background-image: url("data:image/svg+xml 
					charset=utf8,%3Csvg xmlns='http: //www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") 
		&:indeterminate 
			& ~ .custom-control-label 
				&::before 
					background-color: #9055A2 
				&::after 
					background-image: url("data:image/svg+xml 
					charset=utf8,%3Csvg xmlns='http: //www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E") 
		&:disabled 
			&:checked 
				& ~ .custom-control-label 
					&::before 
						background-color: rgba(144, 85, 162, 0.5) 
			&:indeterminate 
				& ~ .custom-control-label 
					&::before 
						background-color: rgba(144, 85, 162, 0.5) 
.custom-radio 
	.custom-control-label 
		&::before 
			border-radius: 50% 
	.custom-control-input 
		&:checked 
			& ~ .custom-control-label 
				&::before 
					background-color: #9055A2 
				&::after 
					background-image: url("data:image/svg+xml 
					charset=utf8,%3Csvg xmlns='http: //www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E") 
		&:disabled 
			&:checked 
				& ~ .custom-control-label 
					&::before 
						background-color: rgba(144, 85, 162, 0.5) 
code 
	font-size: 87.5% 
	color: #e83e8c 
.nav-link 
	padding: 0.5rem 1rem 
	&.disabled 
		color: #6c757d 
.nav-tabs 
	.nav-item 
		margin-bottom: -1px 
	.nav-link 
		border: 1px solid transparent 
		border-top-left-radius: 0.25rem 
		border-top-right-radius: 0.25rem 
		&.disabled 
			color: #6c757d 
	.dropdown-menu 
		margin-top: -1px 
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus 
	border-color: #e9ecef #e9ecef #dee2e6 
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link 
	color: #495057 
	background-color: #f0f0f0 
.nav-pills 
	.nav-link 
		border-radius: 0 
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link 
	color: #fff 
	background-color: #9055A2 
.card 
	background-color: #fff 
	border: 1px solid rgba(0, 0, 0, 0.07) 
	border-radius: 0.25rem 
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) 
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) 
	& > .list-group 
		&:first-child 
			.list-group-item 
				&:first-child 
					border-top-left-radius: 0.25rem 
					border-top-right-radius: 0.25rem 
		&:last-child 
			.list-group-item 
				&:last-child 
					border-bottom-right-radius: 0.25rem 
					border-bottom-left-radius: 0.25rem 
.card-body 
	padding: 1.25rem 
.card-title 
	margin-bottom: 0.75rem 
.card-subtitle 
	margin-top: -0.375rem 
.card-link 
	& + .card-link 
		margin-left: 1.25rem 
.card-header 
	padding: 0.75rem 1.25rem 
	background-color: rgba(0, 0, 0, 0.03) 
	border-bottom: 1px solid rgba(0, 0, 0, 0.07) 
	&:first-child 
		border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0 
.card-header-transparent 
	background-color: rgba(0, 0, 0, 0.3) 
	border-bottom: none 
.card-footer 
	padding: 0.75rem 1.25rem 
	background-color: #f8f9fa 
	border-top: 1px solid rgba(0, 0, 0, 0.07) 
	&:last-child 
		border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px) 
.card-header-tabs 
	margin-right: -0.625rem 
	margin-bottom: -0.75rem 
	margin-left: -0.625rem 
	border-bottom: 0 
.card-header-pills 
	margin-right: -0.625rem 
	margin-left: -0.625rem 
.card-img-overlay 
	padding: 1.25rem 
.card-img-overlay-opacity 
	background: rgba(0, 0, 0, 0.2) 
.card-img 
	border-radius: calc(0.25rem - 1px) 
.card-img-top 
	border-top-left-radius: calc(0.25rem - 1px) 
	border-top-right-radius: calc(0.25rem - 1px) 
.card-img-bottom 
	border-bottom-right-radius: calc(0.25rem - 1px) 
	border-bottom-left-radius: calc(0.25rem - 1px) 
.card-deck 
	.card 
		margin-bottom: 15px 
		margin-right: 15px 
		margin-left: 15px 
.dropdown-item 
	padding: 0.25rem 1.5rem 
	font-weight: 400 
	color: #212529 
.dropdown-item:hover, .dropdown-item:focus 
	color: #16181b 
	background-color: #f8f9fa 
.dropdown-item.active, .dropdown-item:active 
	color: #fff 
	background-color: #9055A2 
.dropdown-item.disabled, .dropdown-item:disabled 
	color: #6c757d 
