html, body 
	font-size: 100% 
	font-family: 'Open Sans', sans-serif 
	background: #ffffff 
ul li,ol li 
	font-size: 14px 
p 
	margin: 0 
	&.animi 
		font-size: 14px 
		color: #999 
		line-height: 2em 
		margin: 1em 0 0 
		margin: 3em 0 0 
h1,h2,h3,h4,h5,h6,a 
	font-family: 'Ubuntu', sans-serif !important 
	margin: 0 
ul,label 
	margin: 0 
	padding: 0 
body 
	a 
		&:hover 
			text-decoration: none 
.fixed 
	position: fixed 
	top: 0 
	width: 100% 
	margin: 0 auto 
	left: 0 
	z-index: 9999 
	position: relative 
span 
	&.glyphicon 
		&.glyphicon-shopping-cart 
			&.my-cart-icon 
				&.my-cart-icon-affix 
					position: relative !important 
	&.minicart-price 
		font-size: 12px 
.btn-danger 
	color: #fff 
	background-color: #FA1818 
	border-color: #FA1818 
	&.my-cart-btn 
		&:focus 
			outline: none 
.modal-dialog 
	width: 850px 
	margin: 75px auto 30px 
	width: 710px 
	width: 650px 
	margin: 130px auto 30px 
	width: 600px 
	width: 535px 
	width: 468px 
	width: 390px 
	width: 290px 
.snipcart-thumb 
	a 
		display: block 
		text-align: center 
.my-cart-icon-affix 
	i 
		background: #84C639 !important 
.agile_top_brand_left_grid 
	position: relative 
	display: block 
	background: #FFFFFF 
	padding: .5em 
	border: 1px solid #BEBEBE 
	position: relative 
	figure 
		margin: 0 
		padding: 0 
		background: transparent 
		overflow: hidden 
		z-index: 0 
i 
	&.badge 
		&.badge-notify 
			&.my-cart-badge 
				font-style: normal 
				background: #FA1818 
				font-size: 14px 
				position: absolute 
				top: -10px 
				right: -22px 
.product_list_header 
	float: left 
	margin-left: 7em 
	margin-left: 3em 
	margin-left: 2em 
	margin-left: 1.5em 
	margin-left: .3em 
	span 
		font-size: 1em 
		color: #fff 
		top: 1em 
		top: .5em 
	input 
		&.button 
			color: #fff 
			font-size: 14px 
			outline: none 
			text-transform: capitalize 
			padding: .5em 2.5em .5em 1em 
			border: 1px solid #84c639 
			margin: .35em 0 0 
			background: url(../images/cart.png) no-repeat 116px 9px 
			margin: 0 
			padding: .3em 2.5em .3em 1em 
			background: url(../images/cart.png) no-repeat 116px 5px 
			padding: .3em 2.5em .3em 0.8em 
			background: url(../images/cart.png) no-repeat 105px 5px 
			font-size: 13px 
input[type="submit"],#PPMiniCart .minicart-submit,.w3ls_vegetables ul li a,input[type="reset"],.agileinfo_mail_grid_left ul li a,.events_bottom_left2 ul li a,.w3ls_service_grids1_right a,ul.agileits_social_icons li a,.w3l_banner_nav_right_banner_pet a,.w3ls_w3l_banner_nav_right_grid_head_grid ul li a,.products-breadcrumb ul li a,.w3_footer_grid ul li a,.w3l_fresh_vegetables_grid ul li a,.wthree_footer_copy p a,.agile_top_brand_left_grid1 .button,.w3ls_logo_products_left1 ul.special_items li a,.w3ls_logo_products_left1 ul.phone_email li a 
	transition: .5s ease-in 
	-webkit-transition: .5s ease-in 
	-moz-transition: .5s ease-in 
	-o-transition: .5s ease-in 
	-ms-transition: .5s ease-in 
.agileits_header 
	background: #212121 
.w3l_offers 
	float: left 
	float: none 
	text-align: center 
	a 
		font-size: 1.2em 
		color: #fff 
		text-decoration: none 
		padding: .5em 3em 
		background: #84C639 
		display: block 
		padding: .6em 1em 
		font-size: .9em 
		padding: .75em 1em 
		font-size: 1em 
		padding: .62em 1em 
.w3l_search 
	float: left 
	width: 27% 
	margin: .1em 0 0em 10em 
	margin: .1em 0 0em 3em 
	width: 30% 
	width: 42% 
	width: 25% 
	margin: .1em 0 0em 1em 
	margin: .1em 0 1em 5em 
	margin: .1em 0 0.5em 1.7em 
	width: 51% 
	margin: .1em 0 0.5em 0.7em 
	margin: .1em 0 
	float: none 
	width: 100% 
	input[type="text"] 
		outline: none 
		padding: 10px 
		color: #212121 
		font-size: 14px 
		width: 85% 
		background: #fff 
		border: 1px solid #999 
		float: left 
		width: 82% 
		font-size: 13px 
		width: 82% 
	input[type="submit"] 
		outline: none 
		padding: 10px 0 9px 
		width: 15% 
		border: 1px solid 
		position: relative 
		background: url(../images/img-sp.png) no-repeat 14px 5px #FA1818 
		background: url(../images/img-sp.png) no-repeat 6px 5px #FA1818 
		background: url(../images/img-sp.png) no-repeat 0px 5px #FA1818 
		width: 18% 
		background: url(../images/img-sp.png) no-repeat 10px 5px #FA1818 
		background: url(../images/img-sp.png) no-repeat 0px 3px #FA1818 
		padding: 8px 0 9.9px 
		width: 18% 
		background: url(../images/img-sp.png) no-repeat 17px 3px #FA1818 
		padding: 8px 0 8.9px 
		background: url(../images/img-sp.png) no-repeat 11px 3px #FA1818 
	input[type="submit"]:hover 
		background: url(../images/img-sp.png) no-repeat 14px 5px #84C639 
		background: url(../images/img-sp.png) no-repeat 6px 5px #84C639 
		background: url(../images/img-sp.png) no-repeat 0px 5px #84C639 
		background: url(../images/img-sp.png) no-repeat 10px 5px #84C639 
		background: url(../images/img-sp.png) no-repeat 0px 3px #84C639 
		background: url(../images/img-sp.png) no-repeat 11px 3px #84C639 
.w3l_header_right 
	float: left 
	padding-left: 10em 
	padding-left: 2em 
	padding-left: 1.5em 
	padding-left: 6.5em 
	padding-left: 4.5em 
	padding-left: 3.5em 
	padding-left: 1.5em 
	ul 
		li 
			list-style-type: none 
.w3l_header_right1 
	float: right 
	h2 
		a 
			font-size: .74em 
			color: #fff 
			padding: .5em 1.5em 
			background: #FA1818 
			display: block 
			text-decoration: none 
			font-size: .6em 
			padding: .75em 1em 
			font-size: 14px 
ul 
	&.dropdown-menu 
		&.drp-mnu 
			right: 0 
			min-width: 130px 
			text-align: center 
			padding: 1.5em 0 
			margin: 0 
			left: auto 
			top: 130% 
			top: 100% 
			min-width: 90px 
			padding: 1em 0 
			li 
				&:first-child 
					margin-bottom: .5em 
				a 
					color: #999 
					i 
						padding-left: 1em 
	&.pagination 
		li 
			a 
				font-size: 14px 
				padding: 5px 11px 
	&.wmuSliderPagination 
		padding: 0 
.logo_products 
	padding: 4em 0 1em 
	padding: 8em 0 1em 
	padding: 2em 0 1em 
.w3ls_logo_products_left 
	float: left 
	margin-right: 7em 
	margin-right: 5em 
	margin-right: 1em 
	margin-right: 0 
	float: none 
	text-align: center 
	width: 31% 
	margin: 0 auto 
	width: 36% 
	width: 42% 
	h1 
		a 
			font-size: 1.5em 
			color: #212121 
			text-decoration: none 
			text-transform: uppercase 
			display: block 
			background: url(../images/img-sp.png) no-repeat 54px 6px 
			line-height: 1 
			height: 97px 
			font-size: 1.3em 
			background: url(../images/img-sp.png) no-repeat 43px -3px 
			height: 88px 
			font-size: 1.2em 
			background: url(../images/img-sp.png) no-repeat 38px -9px 
			height: 83px 
			font-size: 1em 
			background: url(../images/img-sp.png) no-repeat 28px -17px 
			height: 74px 
			font-size: 1.2em 
			background: url(../images/img-sp.png) no-repeat 38px -8px 
			height: 85px 
			font-size: 1em 
			background: url(../images/img-sp.png) no-repeat 28px -18px 
			height: 75px 
			span 
				font-size: .3em 
				display: block 
				color: #FA1818 
.profile_details_drop 
	a 
		display: block 
		padding-top: 1em 
		font-size: 1em 
		color: #fff 
		padding-top: .5em 
.w3ls_logo_products_left1 
	float: left 
	margin-top: 2.3em 
	margin-top: 1.6em 
	float: right 
	float: none 
	text-align: center 
	margin-top: 1em 
	ul 
		&.phone_email 
			li 
				display: inline-block 
				color: #212121 
				font-family: 'Ubuntu', sans-serif 
				margin-right: 2em 
				margin-right: 1em 
				a 
					color: #212121 
					text-decoration: none 
				i 
					padding-right: 1em 
					padding-right: .5em 
				&:last-child 
					margin-right: 0 
		&.special_items 
			li 
				display: inline-block 
				a 
					color: #212121 
					font-family: 'Ubuntu', sans-serif 
					text-decoration: none 
				i 
					padding: 0 2em 
					padding: 0 1em 
					padding: 0 .7em 
					padding: 0 1.5em 
					padding: 0 1em 
					padding: 0 0.5em 
	&:nth-child(3) 
		margin-left: 6em 
		margin-left: 4em 
		margin-left: 1em 
		margin-left: 1em 
		float: none 
		width: 100% 
		margin: 6em 0 1em 
		text-align: center 
		margin: 5.5em 0 1em 
		margin: 0.5em 0 1em 
.w3ls_logo_products_left1 ul.special_items li a:hover,.w3ls_logo_products_left1 ul.phone_email li a:hover 
	color: #FA1818 
.sub 
	float: left 
	i 
		color: #84C639 
		font-size: 1em 
		padding: .5em .5em 0 0em 
.sub_jfk 
	float: right 
.navbar-collapse 
	padding: 0 
	box-shadow: none 
.navbar 
	margin-bottom: 0 
	border: none 
.w3l_banner_nav_left 
	float: left 
	width: 20% 
	background: #f5f5f5 
.wthree_banner_bottom_left_grid_sub 
	float: left 
	width: 20% 
.wthree_banner_bottom_left_grid_sub1 
	float: right 
	width: 80% 
.w3l_banner_nav_right 
	float: right 
	width: 80% 
	float: none 
	width: 100% 
.navbar-nav 
	float: none 
	margin: 0 
	border-top: 1px solid #B58F62 
	border-top: none 
	& > li 
		float: none 
		& > a 
			color: #212121 
			padding: 10px 0px 10px 40px 
			border-bottom: 1px dotted #CDCDCD 
			padding: 10px 0px 10px 25px 
			padding: 10px 0px 10px 15px 
	.open 
		.dropdown-menu 
			background-color: #fff 
			text-align: center 
.nav > li > a:hover, .nav > li > a:focus 
	background-color: #84C639 
	color: #fff 
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus 
	background-color: #84C639 
	border: none 
.w3ls_vegetables_menu 
	left: 13% 
	border: none 
	padding: 1em 
	left: 10% 
	min-width: 135px 
	left: 5% 
	left: auto 
	float: none 
	min-width: 100% 
	text-align: center 
.w3ls_vegetables 
	ul 
		li 
			list-style-type: none 
			&:first-child 
				margin-bottom: .5em 
			a 
				color: #212121 
				display: block 
				text-decoration: none 
				&:hover 
					color: #FA1818 
.w3l_banner_nav_right_banner1,.w3l_banner_nav_right_banner,.w3l_banner_nav_right_banner2 
	min-height: 500px 
	text-align: right 
	padding: 10em 17em 0 0 
	margin-bottom: 5em 
.w3l_banner_nav_right_banner 
	background: url(../images/1.jpg) no-repeat 0px 0px 
	background-size: cover 
	-webkit-background-size: cover 
	-moz-background-size: cover 
	-o-background-size: cover 
	-ms-background-size: cover 
	background-position: -70px 0px 
.w3l_banner_nav_right_banner1 
	background: url(../images/2.jpg) no-repeat 0px 0px 
	background-size: cover 
	-webkit-background-size: cover 
	-moz-background-size: cover 
	-o-background-size: cover 
	-ms-background-size: cover 
.w3l_banner_nav_right_banner2 
	background: url(../images/3.jpg) no-repeat 0px 0px 
	background-size: cover 
	-webkit-background-size: cover 
	-moz-background-size: cover 
	-o-background-size: cover 
	-ms-background-size: cover 
	background-position: -60px 0px 
	background-position: 0px 0px 
	background-position: -145px 0px 
	background-position: -125px 0px 
	h3 
		i 
			display: block 
			font-weight: 600 
			line-height: 2em 
			color: #FA1818 
.w3l_banner_nav_right_banner h3,.w3l_banner_nav_right_banner1 h3,.w3l_banner_nav_right_banner2 h3 
	font-size: 2em 
	color: #fff 
	font-weight: 300 
	text-transform: uppercase 
	margin-bottom: 1em 
.w3l_banner_nav_right_banner h3 span,.w3l_banner_nav_right_banner1 h3 span 
	display: block 
	font-weight: 600 
	line-height: 2em 
.more 
	width: 20% 
	text-align: center 
	margin-left: 59em 
	margin-left: 63em 
	margin-left: 59em 
	margin-left: 51em 
	margin-left: 42em 
	width: 25% 
	margin-left: 40em 
	margin-left: 39em 
	margin-left: 30.5em 
	margin-left: 26.5em 
	width: 30% 
	margin-left: 34.5em 
	margin-left: 33.5em 
	margin-left: 29.5em 
	margin-left: 28em 
	margin-left: 26em 
	margin-left: 24.5em 
	margin-left: 18em 
	width: 40% 
	margin-left: 15em 
	margin-left: 13em 
	width: 42% 
	margin-left: 10em 
	width: 50% 
	a 
		padding: 10px 30px 
		background: #84C639 
		font-size: 14px 
		text-transform: uppercase 
		font-weight: 600 
		text-decoration: none 
		color: #fff 
		position: relative 
		display: block 
		padding: 7px 30px 
		font-size: 13px 
.button--saqui 
	overflow: hidden 
	-webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in 
	transition: background-color 0.3s ease-in, color 0.3s ease-in 
	&.button--inverted 
		background: #fff 
		color: #37474f 
		&::after 
			color: #fff 
		&:hover 
			background-color: #3f51b5 
			color: #3f51b5 
	&::after 
		content: attr(data-text) 
		position: absolute 
		top: 0 
		left: 0 
		width: 100% 
		height: 100% 
		padding: 9px 30px 
		color: #FFFFFF 
		-webkit-transform-origin: -25% 50% 
		transform-origin: -25% 50% 
		-webkit-transform: rotate3d(0, 0, 1, 45deg) 
		transform: rotate3d(0, 0, 1, 45deg) 
		-webkit-transition: -webkit-transform 0.3s ease-in 
		transition: transform 0.3s ease-in 
	&:hover 
		background-color: #FA1818 
		color: #656060 
		&::after 
			-webkit-transform: rotate3d(0, 0, 1, 0deg) 
			transform: rotate3d(0, 0, 1, 0deg) 
.button--saqui:hover::after,
.button--saqui:hover 
	-webkit-transition-timing-function: ease-out 
	transition-timing-function: ease-out 
.banner_bottom,.top-brands,.fresh-vegetables,.w3l_banner_nav_right_banner3_btm,.testimonials,.team,.newsletter-top-serv-btm,.w3ls_w3l_banner_nav_right_grid_sub 
	padding: 5em 0 !important 
.wthree_banner_bottom_left 
	padding-left: 0 
	padding: 0 1em 
	float: left 
	width: 33.33% 
	float: none 
	width: 60% 
	margin: 0 auto 
	width: 75% 
	width: 82% 
	width: 90% 
	width: 100% 
	&:nth-child(2) 
		margin: 2em auto 
.wthree_banner_bottom_left_grid 
	position: relative 
.wthree_banner_bottom_left_grid_pos 
	position: absolute 
	top: 15% 
	right: 5% 
	top: 8% 
	h4 
		font-size: 1.5em 
		color: #000000 
		font-size: 1.3em 
		font-size: 1.1em 
		span 
			display: block 
			line-height: 1 
			width: 80px 
			height: 80px 
			background: #FA1818 
			color: #fff 
			border-radius: 50px 
			text-align: center 
			padding-top: 1.2em 
			margin: 0.5em auto 0 
			width: 70px 
			height: 70px 
			width: 50px 
			height: 50px 
			padding-top: .9em 
.wthree_banner_btm_pos 
	width: 100% 
	position: absolute 
	top: 5% 
	padding: 0 2em 
	h3 
		text-transform: capitalize 
		font-size: 1.5em 
		color: #212121 
		font-weight: 300 
		font-size: 1.3em 
		font-size: 1.1em 
		font-size: 1.3em 
		font-size: 1.1em 
		span 
			color: #84C639 
			font-weight: 600 
			display: block 
			line-height: 1.8em 
			padding-left: 7em 
			padding-left: 6em 
			padding-left: 5em 
			padding-left: 4em 
			padding-left: 2em 
			padding-left: 8em 
			padding-left: 7em 
			padding-left: 6em 
			padding-left: 6em 
		i 
			color: #FA1818 
			font-weight: 600 
			text-transform: uppercase 
			font-style: normal 
.wthree_banner_btm_pos1 
	position: absolute 
	top: 50% 
	left: 12% 
	top: 40% 
	top: 55% 
	h3 
		text-transform: uppercase 
		color: #212121 
		font-size: 2em 
		font-size: 1.6em 
		font-size: 1.4em 
		span 
			display: block 
			font-weight: 300 
			line-height: 1.5em 
			color: #FA1818 
.tag 
	position: absolute 
	top: -1% 
	right: 10% 
.top-brands h3,.fresh-vegetables h3,.mail h3,.testimonials h3,.w3_login h3,.w3ls_w3l_banner_nav_right_grid h3,h3.title,.faq h3,.services h3,.about h3,.team h3,.events h3 
	text-align: center 
	color: #212121 
	padding-bottom: .5em 
	position: relative 
	font-size: 2.5em 
.top-brands h3:after,.fresh-vegetables h3:after,.mail h3:after,.w3_login h3:after,.testimonials h3:after,.w3ls_w3l_banner_nav_right_grid h3:after,h3.title:after,.faq h3:after,.services h3:after,.about h3:after,.team h3:after,.events h3:after 
	content: '' 
	background: #FA1818 
	height: 2px 
	width: 8% 
	position: absolute 
	bottom: 0% 
	left: 46% 
.agile_top_brand_left_grid_pos 
	position: absolute 
	top: 0% 
	left: 0% 
.agile_top_brand_left_grid1 
	padding: 1em 
	border: 1px solid #D7D7D7 
	padding: .5em 
	padding: 1em 
	img 
		margin: 0 auto 
	p 
		color: #212121 
		margin: 1.5em 0 1em 
		line-height: 1.5em 
		text-transform: capitalize 
		font-size: 14px 
		font-size: 13px 
		font-size: 14px 
.agile_top_brands_grids 
	margin: 3em 0 0 
	margin: 2em 0 0 
.top-brands 
	background: #f5f5f5 
.agile_top_brand_left_grid1 h4,.agileinfo_single_right_snipcart h4 
	font-weight: 600 
	font-size: 1em 
	color: #212121 
.agile_top_brand_left_grid1 h4 span,.agileinfo_single_right_snipcart h4 span 
	font-weight: 300 
	text-decoration: line-through 
	padding-left: 1em 
.snipcart-details 
	text-align: center 
	margin: 1.5em auto 1em 
	width: 77% 
	width: 93% 
	width: 89% 
	width: 88% 
	width: 80% 
	width: 90% 
	width: 70% 
	width: 80% 
	input 
		&.button 
			font-size: 14px 
			color: #fff 
			background: #FA1818 
			text-decoration: none 
			position: relative 
			border: none 
			border-radius: 0 
			width: 100% 
			text-transform: uppercase 
			padding: .5em 0 
			outline: none 
			font-size: 13px 
			font-size: 14px 
			font-size: 13px 
.agile_top_brand_left_grid:hover .snipcart-details input.button,.snipcart-details input.button:hover 
	background: #84C639 
#PPMiniCart 
	left: 44% !important 
	left: 42% !important 
	left: 39% !important 
	top: 140px !important 
	left: 36% !important 
	left: 41% !important 
	left: 51% !important 
	left: 55% !important 
	left: 64% !important 
	left: 69% !important 
	form 
		width: 590px !important 
		padding: 10px 20px 40px !important 
		max-height: 450px !important 
		max-height: 185px !important 
		max-height: 165px !important 
		width: 506px !important 
		max-height: 210px !important 
		max-height: 100px !important 
		width: 400px !important 
		width: 360px !important 
		width: 300px !important 
		padding: 10px 10px 40px !important 
		width: 285px !important 
	ul 
		width: 548px !important 
		width: 464px !important 
		width: 358px !important 
		width: 318px !important 
		width: 278px !important 
		width: 263px !important 
	.minicart-item 
		min-height: 60px !important 
		a 
			color: #212121 !important 
			font-size: 1em 
			display: block 
			margin-bottom: .5em 
			text-transform: capitalize 
			font-size: 13px 
	.minicart-attributes 
		li 
			color: #999 
			font-size: 12px 
	.minicart-remove 
		background: #fa1818 !important 
		border: 1px solid #fa1818 !important 
		opacity: 1 !important 
		outline: none 
		width: 11px !important 
		height: 11px !important 
		line-height: 0 
		margin: 3px 0 0 !important 
	.minicart-submit 
		position: absolute 
		bottom: -28px!important 
		right: 0px!important 
		min-width: 153px 
		height: 33px 
		margin-right: 6px 
		padding: 0 9px 
		border: 1px solid #84c639!important 
		background: #84c639!important 
		position: absolute 
		border-radius: 0px!important 
		color: #000 
		text-shadow: none!important 
		cursor: pointer 
		&:hover 
			background: #84C639 !important 
			border-color: #5b951a !important 
		img 
			vertical-align: middle 
			padding: 4px 0 0 2px 
			display: none 
	.minicart-subtotal 
		padding-left: 25px !important 
		bottom: -17px !important 
		padding-left: 5px !important 
		font-size: 13px !important 
	.minicart-footer 
		position: relative 
		width: 80% 
	.minicart-quantity 
		font-size: 11px 
.minicart-showing 
	#PPMiniCart 
		form 
			overflow-x: hidden 
			overflow-y: auto 
.agileits_w3layouts_tab2 input[type="email"],.agileits_w3layouts_tab2 input[type="password"],.creditly-wrapper .form-control 
	display: block 
	width: 95.5% 
	padding: 15px 10px 
	font-size: 14px 
	color: #212121 
	background: #fff 
	border: 1px solid #e7e7e7 
	margin-bottom: 25px 
	outline: none 
.agileits_w3layouts_tab2 input[type="email"]:focus,.agileits_w3layouts_tab2 input[type="password"]:focus,.creditly-wrapper .form-control:focus 
	border-color: #66afe9 
	outline: 0 
.agileits_w3layouts_tab2 
	input[type="submit"] 
		display: block 
		position: relative 
		padding: 6px 50px 11px 
		letter-spacing: 3px 
		background: #1adeed 
		font-size: 1.5em 
		color: #fff 
		border: 1px solid #1adeed 
		outline: none 
		text-transform: uppercase 
		cursor: pointer 
	input[type="submit"]:hover 
		background: #fff 
		color: #212121 
		border: 1px solid #e7e7e7 
.agileinfo_main_grid_left_grid 
	h3 
		font-size: 1.3em 
		color: #fff 
	ul 
		margin-top: 1.5em 
		li 
			display: inline-block 
			color: #fff 
			font-weight: bold 
			font-size: 2em 
			vertical-align: top 
			span 
				display: block 
				font-size: .5em 
				color: #999 
			&:first-child 
				width: 70% 
				border-right: 1px solid #999 
			&:last-child 
				padding-left: 1em 
				text-align: right 
.agile_amount 
	padding: 1em 2em 
	background: #f71926 
	h3 
		font-size: 1.3em 
		color: #fff 
	h4 
		font-size: 2em 
		color: #fff 
		font-weight: bold 
	p 
		font-size: 1em 
		color: #1adeed 
		line-height: 1.8em 
img 
	&.pp-img 
		width: 65% 
.tab-grid 
	p 
		color: #8B8B8B 
		font-size: 0.95em 
		line-height: 1.8em 
		font-weight: 400 
		margin: 10px 0 
a 
	&.btn 
		&.btn-primary 
			background-color: #3a5795 
			font-family: 'Open Sans', sans-serif 
			color: #fff 
			border: none 
	&.pa_italic 
		label 
			cursor: pointer 
			font-weight: 500 
		&:focus 
			outline: none 
			text-decoration: none 
.vertical_post 
	h5 
		color: #212121 
		font-size: 18px 
		margin: 0 0 18px 0 
		letter-spacing: 1px 
	form 
		input[type="submit"]:hover 
			background: #fa1818 
		input[type="submit"] 
			background: #84c639 
			color: #FFFFFF 
			text-align: center 
			padding: 10px 0 
			border: none 
			font-size: 16px 
			outline: none 
			width: 22% 
			cursor: pointer 
			font-weight: 600 
			margin-top: 30px 
			transition: 0.5s all 
			-webkit-transition: 0.5s all 
			-moz-transition: 0.5s all 
			-o-transition: 0.5s all 
			-ms-transition: 0.5s all 
.swit-radio 
	label 
		font-size: 16px 
		color: #696969 
		padding: 0px 0 0 10px 
		font-weight: 100 
.radio_one 
	padding-left: 22px 
	line-height: 28px 
	color: #404040 
	cursor: pointer 
	position: relative 
	display: inline-block 
	margin-left: 15px 
	&:first-child 
		margin-left: 0 
		margin: 0 
.section_room_pay 
	select 
		padding: 6px 10px 
		width: 33% 
		border: none 
		background: none 
		border: 1px solid #E6E4E4 
		color: #D2D1D1 
		outline: none 
		font-size: 16px 
		margin-bottom: 0 
		background: url(../images/arrow.png) no-repeat 96% center #ffffff 
		background-size: 4% !important 
		-webkit-appearance: none 
select 
	&.form-control 
		&.option-w3ls 
			width: 100% 
			padding: 1em 1em 1em 1em 
			font-size: 0.8em 
			margin: 0.5em 0 
			outline: none 
			color: #212121 
			border: none 
			border: 1px solid #ccc 
			letter-spacing: 1px 
			text-align: left 
.checkout-right-basket 
	float: right 
	margin: 3em 0 0 0em 
	span 
		margin-left: 1em 
	a 
		padding: 10px 20px 10px 18px 
		color: #fff 
		font-size: 1em 
		background: #212121 
		text-decoration: none 
		&:hover 
			background: #84c639 
		span 
			left: -.5em 
			top: 0.1em 
.check_box_one 
	float: left 
	width: 22% 
	margin-bottom: 10px 
	&.cashon_delivery 
		float: left 
		width: 100% 
		margin-bottom: 10px 
.form-control 
	border-radius: 0 
.btn-primary 
	color: #fff 
	background-color: #84c639 
	border-color: #84c639 
	border-radius: 0 
button 
	&.submit 
		&.check_out 
			display: block 
			position: relative 
			padding: 11px 30px 
			letter-spacing: 1px 
			background: #84c639 
			font-size: 1.2em 
			color: #fff 
			font-weight: 500 
			border: none 
			outline: none 
			transition: 0.5s all 
			-webkit-transition: 0.5s all 
			-moz-transition: 0.5s all 
			-o-transition: 0.5s all 
			-ms-transition: 0.5s all 
			text-transform: uppercase 
			display: block 
			position: relative 
			padding: 11px 14px 
			letter-spacing: 1px 
			font-size: 0.9em 
.column 
	div 
		&.agile_top_brand_left_grid 
			position: relative 
			margin: 0 
.hover14 
	figure 
		position: relative 
		&::before 
			position: absolute 
			top: 0 
			left: -75% 
			z-index: 2 
			display: block 
			content: '' 
			width: 50% 
			height: 100% 
			background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%) 
			background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%) 
			-webkit-transform: skewX(-25deg) 
			transform: skewX(-25deg) 
	&.column 
		width: 75% 
		margin: 0 auto 
		width: 100% 
.hover14 figure:hover::before,.top_brand_left:hover .hover14 figure::before 
	-webkit-animation: shine .75s 
	animation: shine .75s 
@-webkit-keyframes 
	shine 
		100% {
		left: 125% 
} 
	@keyframes 
		shine 
			100% {
		left: 125% 
		blinker 
			0% { opacity: 1.0 
	.w3l_fresh_vegetables_grids 
		margin: 3em 0 0 
		padding: 1em 0em 1em 1em 
		background: #f5f5f5 
	@-webkit-keyframes 
		blinker 
			0% { opacity: 1.0 
	.w3ls_w3l_banner_nav_right_grid1 
		margin: 3em 0 0 0em 
	@media 
		(max-width 
			&:640px) 
				h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px 
				margin-bottom: 0px 
			&:480px) 
				.table h1 {
		font-size: 26px 
			&: 
				320px) 
					.grid_4 {
		margin-top: 18px 
					.agileits_social_icons li a i {
		padding: .9em 0 0 
				1280px) 
					.more {
		margin-left: 47em 
				1080px) 
					.w3l_offers a {
		font-size: 1.1em 
					padding: .6em 1em 
				1024px) 
					.w3l_header_right {
		padding-left: 2em 
				991px) 
					.w3l_search {
		margin: .1em 0 0em 2em 
				768px) 
					.product_list_header {
		margin-left: 1em 
				767px) 
					.w3l_banner_nav_left {
		float: none 
					width: 100% 
					background: #f5f5f5 
					text-align: center 
				736px) 
					.w3l_search {
		width: 50% 
					margin: .1em 0 1em 10em 
				667px) 
					.w3l_search {
		width: 55% 
					margin: .1em 0 1em 5.8em 
				640px) 
					#PPMiniCart form {
		max-height: 400px !important 
				600px) 
					.w3l_search {
		margin: .1em 0 1em 3.9em 
				568px) 
					.w3l_search {
		margin: .1em 0 1em 2.9em 
				480px) 
					#PPMiniCart form {
		max-height: 350px !important 
				414px) 
					.w3l_offers a {
		padding: .62em .5em 
				384px) 
					.w3l_search input[type="submit"]: hover {
 background: url(../images/img-sp.png) no-repeat 17px 3px #84C639 
				375px) 
					.wthree_banner_btm_pos h3 span {
		padding-left: 5em 
			&:1600px) 
				.snipcart-details {
		width: 77% 
			&:1440px) 
				.w3l_header_right {
		padding-left: 4em 
			&:1366px) 
				.w3l_search {
		margin: .1em 0 0em 6em 
			&:800px) 
				.w3l_offers a {
		padding: .6em 2em 
	.vertical_post 
		&.check_box_agile 
			padding-bottom: 1em 
.w3l_fresh_vegetables_grid 
	padding-left: 0 
	padding: 1em 
	width: 50% 
	margin: 0 auto 
	border: 10px solid #f5f5f5 
	width: 56% 
	width: 70% 
	width: 90% 
	width: 100% 
	ul 
		li 
			list-style-type: none 
			margin-bottom: 1.5em 
			color: #84C639 
			i 
				padding-right: 1em 
			a 
				font-size: 14px 
				text-transform: uppercase 
				color: #212121 
				text-decoration: none 
				&:hover 
					color: #84C639 
	&:nth-child(2) 
		margin: 2em auto 
.w3l_fresh_vegetables_grid2 
	padding: 1em 
	background: #fff 
	padding: 1em 0 0 
.w3l_fresh_vegetables_grid1_rel 
	position: relative 
.w3l_fresh_vegetables_grid1_rel_pos 
	position: absolute 
	top: 0 
	right: 5% 
	position: absolute 
	top: 10% 
	right: 10% 
.m1 
	margin-left: 0 !important 
	width: 100% !important 
.w3l_fresh_vegetables_grid1_bottom 
	margin: 1em 0 0 
	position: relative 
.w3l_fresh_vegetables_grid1_bottom_pos 
	position: absolute 
	bottom: 5% 
	left: 10% 
	h5 
		font-size: 1.3em 
		color: #fff 
		font-weight: 600 
		width: 100px 
		height: 100px 
		text-align: center 
		background: #FA1818 
		border-radius: 50% 
		padding: 1.1em 0 0 
		line-height: 1.3em 
		font-size: 1.1em 
		width: 85px 
		height: 85px 
		font-size: 1em 
		width: 80px 
		height: 80px 
		padding: 1.2em 0 0 
.agileinfo_breaking_news 
	float: right 
	width: 10% 
	width: 20% 
	span 
		background: url(../images/img-sp.png) no-repeat 1px -116px 
		display: block 
		width: 50px 
		height: 50px 
		margin: 0 auto 
		background: url(../images/img-sp.png) no-repeat 1px -103px 
		height: 65px 
.agileinfo_marquee 
	width: 90% 
	float: left 
	padding: .8em 0 0px 
	text-align: right 
	width: 85% 
	width: 75% 
	h4 
		text-transform: capitalize 
		font-size: 1.2em 
		color: #212121 
		line-height: 1.5em 
		font-size: 1.1em 
		font-size: 1em 
		span 
			color: #FA1818 
.w3l_fresh_vegetables_grid_right 
	padding: 0 
	margin: 2em 0 0 
.agileinfo_move_text 
	margin: 1em 0 0 
.newsletter 
	padding: 3em 0 
	background: #FA1818 
	padding: 2em 0 
.w3agile_newsletter_left 
	float: left 
	width: 35% 
	text-align: right 
	width: 32% 
	text-align: left 
	width: 100% 
	text-align: center 
	float: none 
	margin-bottom: 2em 
	margin-bottom: 1.5em 
	h3 
		text-transform: capitalize 
		font-size: 1.2em 
		color: #fff 
		margin: .5em 0 0 
		margin: 0 
.w3agile_newsletter_right 
	float: left 
	width: 50% 
	margin-left: 2em 
	width: 60% 
	width: 63% 
	width: 70% 
	float: none 
	margin: 0 auto 
	width: 80% 
	width: 90% 
	width: 100% 
	input[type="email"] 
		outline: none 
		padding: 10px 
		background: none 
		border: 1px solid #E6E6E6 
		font-size: 14px 
		color: #fff 
		width: 74% 
		float: left 
		width: 72% 
		width: 68% 
		width: 62% 
		width: 100% 
		float: none 
		margin-bottom: 1em 
		font-size: 13px 
	input[type="submit"] 
		outline: none 
		padding: 10px 0 
		background: #fff 
		border: 1px solid #fff 
		font-size: 14px 
		color: #FA1818 
		width: 25.7% 
		text-transform: uppercase 
		width: 27.7% 
		width: 31.7% 
		width: 37.7% 
		width: 55% 
		font-size: 13px 
		padding: 9px 0 
	input[type="submit"]:hover 
		background: #84C639 
		border: 1px solid #84C639 
		color: #fff 
.footer 
	padding: 4em 0 
	background: #212121 
	padding: 3em 0 
	padding: 2em 0 
.w3_footer_grid 
	padding-left: 0 
	padding-left: 1em 
	float: left 
	width: 50% 
	float: none 
	width: 100% 
	h3 
		font-size: 1.2em 
		color: #fff 
		text-transform: uppercase 
		margin-bottom: 2em 
		font-size: 1.1em 
		margin-bottom: 1em 
	ul 
		&.w3_footer_grid_list 
			li 
				list-style-type: none 
				margin-bottom: 1.5em 
				padding-left: 2em 
				background: url(../images/img-sp.png) no-repeat -14px -193px 
				a 
					color: #999 
					text-decoration: none 
					text-transform: capitalize 
					&:hover 
						color: #fff 
		&.w3_footer_grid_list1 
			li 
				list-style-type: none 
				margin-bottom: 1.5em 
				color: #999 
				line-height: 1.8em 
				i 
					color: #84C639 
				span 
					margin-left: 2em 
					display: block 
				a 
					color: #fff 
					text-decoration: none 
					&:hover 
						color: #999 
				label 
					color: #FA1818 
					padding-right: 1em 
	&:nth-child(2) 
		margin-bottom: 7em 
		margin: 3em 0 
	&:nth-child(4) 
		margin: 3em 0 0 
.agile_footer_grids 
	padding: 1em 0 0 
	padding: 2em 0 0 
.w3_footer_grid_bottom h4,.w3_footer_grid_bottom h5 
	text-transform: capitalize 
	font-size: 1em 
	margin-bottom: 1em 
.w3_footer_grid_bottom 
	h4 
		color: #84C639 
	h5 
		color: #fff 
.agileits_social_icons 
	li 
		display: inline-block 
		a 
			border: 2px solid #fff 
			border-radius: 20px 
			-webkit-border-radius: 20px 
			-moz-border-radius: 20px 
			-o-border-radius: 20px 
			-ms-border-radius: 20px 
			color: #fff 
			width: 40px 
			height: 40px 
			display: block 
			text-align: center 
			i 
				padding: 0.8em 0 0 
			&.facebook 
				&:hover 
					background: #3b5998 
					border-color: #3b5998 
			&.twitter 
				&:hover 
					background: #55acee 
					border-color: #55acee 
			&.google 
				&:hover 
					background: #dd4b39 
					border-color: #dd4b39 
			&.instagram 
				&:hover 
					background: #833ab4 
					border-color: #833ab4 
			&.dribbble 
				&:hover 
					background: #ea4c89 
					border-color: #ea4c89 
.wthree_footer_copy 
	margin: 4em 0 0 
	padding: 3em 0 0 
	text-align: center 
	border-top: 1px solid #3A3A3A 
	margin: 3em 0 0 
	padding: 2.5em 0 0 
	margin: 2em 0 0 
	padding: 1.5em 0 0 
	p 
		font-size: 14px 
		color: #999 
		line-height: 1.8em 
		a 
			color: #fff 
			text-decoration: none 
			&:hover 
				color: #FA1818 
#toTop 
	display: none 
	text-decoration: none 
	position: fixed 
	bottom: 20px 
	right: 2% 
	overflow: hidden 
	z-index: 999 
	width: 32px 
	height: 32px 
	border: none 
	text-indent: 100% 
	background: url(../images/arrow.png) no-repeat 0px 0px 
#toTopHover 
	width: 32px 
	height: 32px 
	display: block 
	overflow: hidden 
	float: right 
	opacity: 0 
	-moz-opacity: 0 
	filter: alpha(opacity=0) 
.products-breadcrumb 
	padding: 1em 0 
	background: #84C639 
	ul 
		li 
			display: inline-block 
			color: #212121 
			font-family: 'Ubuntu', sans-serif !important 
			span 
				padding: 0 2em 
				padding: 0 1em 
			a 
				color: #fff 
				text-decoration: none 
				&:hover 
					color: #FA1818 
			i 
				padding-right: 1em 
				color: #FA1818 
.w3l_banner_nav_right_banner3,.w3l_banner_nav_right_banner4,.w3l_banner_nav_right_banner5,.w3l_banner_nav_right_banner6,.w3l_banner_nav_right_banner7,.w3l_banner_nav_right_banner8,.w3l_banner_nav_right_banner9,.w3l_banner_nav_right_banner10 
	min-height: 300px 
	padding-top: 7em 
.w3l_banner_nav_right_banner3 
	background: url(../images/12.jpg) no-repeat 0px 0px 
	background-size: cover 
	-webkit-background-size: cover 
	-moz-background-size: cover 
	-o-background-size: cover 
	-ms-background-size: cover 
.w3l_banner_nav_right_banner4 
	background: url(../images/16.jpg) no-repeat 0px 0px 
	background-size: cover 
	-webkit-background-size: cover 
	-moz-background-size: cover 
	-o-background-size: cover 
	-ms-background-size: cover 
.w3l_banner_nav_right_banner5 
	background: url(../images/17.jpg) no-repeat 0px 0px 
	background-size: cover 
	-webkit-background-size: cover 
	-moz-background-size: cover 
	-o-background-size: cover 
	-ms-background-size: cover 
	background-position: -115px 0px 
	background-position: -45px 0px 
.w3l_banner_nav_right_banner6 
	background: url(../images/21.jpg) no-repeat 0px 0px 
	background-size: cover 
	-webkit-background-size: cover 
	-moz-background-size: cover 
	-o-background-size: cover 
	-ms-background-size: cover 
.w3l_banner_nav_right_banner7 
	background: url(../images/25.jpg) no-repeat 0px 0px 
	background-size: cover 
	-webkit-background-size: cover 
	-moz-background-size: cover 
	-o-background-size: cover 
	-ms-background-size: cover 
	background-position: -130px 0px 
	background-position: -45px 0px 
	background-position: -140px 0px 
	background-position: -105px 0px 
.w3l_banner_nav_right_banner8 
	background: url(../images/26.jpg) no-repeat 0px 0px 
	background-size: cover 
	-webkit-background-size: cover 
	-moz-background-size: cover 
	-o-background-size: cover 
	-ms-background-size: cover 
.w3l_banner_nav_right_banner9 
	background: url(../images/27.jpg) no-repeat 0px 0px 
	background-size: cover 
	-webkit-background-size: cover 
	-moz-background-size: cover 
	-o-background-size: cover 
	-ms-background-size: cover 
	background-position: -50px 0px 
	background-position: -125px 0px 
	background-position: -45px 0px 
	background-position: -95px 0px 
	h4 
		font-size: 2em 
		color: #212121 
		line-height: 1.5em 
		font-size: 1.6em 
		font-size: 1.2em 
		font-size: 1.1em 
.w3l_banner_nav_right_banner10 
	background: url(../images/28.jpg) no-repeat 0px 0px 
	background-size: cover 
	-webkit-background-size: cover 
	-moz-background-size: cover 
	-o-background-size: cover 
	-ms-background-size: cover 
.w3l_banner_nav_right_banner3 h3,.w3l_banner_nav_right_banner4 h3,.w3l_banner_nav_right_banner5 h3,.w3l_banner_nav_right_banner6 h3,.w3l_banner_nav_right_banner7 h3,.w3l_banner_nav_right_banner8 h3,.w3l_banner_nav_right_banner9 h3,.w3l_banner_nav_right_banner10 h3 
	font-size: 2em 
	color: #FA1818 
	text-transform: capitalize 
	padding: .3em .5em 
	background: #fff 
	width: 37% 
	margin-left: 10em 
	font-weight: 300 
	text-align: center 
	position: relative 
.w3l_banner_nav_right_banner3 span,.w3l_banner_nav_right_banner4 span,.w3l_banner_nav_right_banner5 span,.w3l_banner_nav_right_banner6 span,.w3l_banner_nav_right_banner7 span,.w3l_banner_nav_right_banner8 span,.w3l_banner_nav_right_banner9 span,.w3l_banner_nav_right_banner10 span 
	background: url(../images/img-sp.png) no-repeat 1px -116px 
	display: block 
	width: 50px 
	height: 50px 
	position: absolute 
	right: -3% 
	top: -55% 
.blink_me 
	-webkit-animation-name: blinker 
	-webkit-animation-duration: 2s 
	-webkit-animation-timing-function: linear 
	-webkit-animation-iteration-count: infinite 
	-moz-animation-name: blinker 
	-moz-animation-duration: 2s 
	-moz-animation-timing-function: linear 
	-moz-animation-iteration-count: infinite 
	animation-name: blinker 
	animation-duration: 2s 
	animation-timing-function: linear 
	animation-iteration-count: infinite 
@-moz-keyframes 
	blinker 
		0% { opacity: 1.0 
50% 
	opacity: 0.0 
	opacity: 0.0 
	opacity: 0.0 
100% 
	opacity: 1.0 
	opacity: 1.0 
	opacity: 1.0 
	border-bottom-color: #fff 
	border-left-color: #fff 
.w3ls_w3l_banner_nav_right_grid1 
	margin: 2em 0 0 
	h6 
		text-transform: uppercase 
		color: #212121 
		font-size: 1.5em 
		margin-bottom: 1.5em 
		font-size: 1.3em 
		font-size: 1.3em 
		text-align: center 
		font-size: 1.1em 
.checkout-right h4,.address_form_agile h4 
	text-transform: uppercase 
	color: #212121 
	font-size: 1.5em 
	margin-bottom: 1.5em 
.address_form_agile 
	float: right 
	float: right 
	width: 100% 
	h4 
		font-size: 1.2em 
.w3l_agile_top_brand_left_grid 
	margin: 0 !important 
.w3l_banner_nav_right_banner3_btml 
	padding-left: 0 
	padding-left: 1em 
	width: 55% 
	margin: 0 auto 
	width: 68% 
	width: 90% 
	width: 100% 
	h4 
		font-size: 1.5em 
		color: #212121 
		margin: 1em 0 
		font-size: 1.3em 
		font-size: 1.3em 
		font-size: 1.1em 
	ol 
		padding-left: 1em 
		margin-bottom: 30px 
		li 
			color: #999 
			margin-bottom: 1em 
			text-transform: capitalize 
.checkout-right 
	margin-top: 3em 
.view-tenth 
	img 
		-webkit-transform: scaleY(1) 
		-moz-transform: scaleY(1) 
		-o-transform: scaleY(1) 
		-ms-transform: scaleY(1) 
		transform: scaleY(1) 
		-webkit-transition: all 0.7s ease-in-out 
		-moz-transition: all 0.7s ease-in-out 
		-o-transition: all 0.7s ease-in-out 
		-ms-transition: all 0.7s ease-in-out 
		transition: all 0.7s ease-in-out 
	.mask 
		background-color: #FA1818 
		-webkit-transition: all 0.5s linear 
		-moz-transition: all 0.5s linear 
		-o-transition: all 0.5s linear 
		-ms-transition: all 0.5s linear 
		transition: all 0.5s linear 
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)" 
		filter: alpha(opacity=0) 
		opacity: 0 
		width: 100% 
		height: 100% 
	h4 
		border-bottom: 1px solid rgba(0, 0, 0, 0.3) 
		background: transparent 
		margin: 20px 40px 0px 40px 
		-webkit-transform: scale(0) 
		-moz-transform: scale(0) 
		-o-transform: scale(0) 
		-ms-transform: scale(0) 
		transform: scale(0) 
		color: #333 
		-webkit-transition: all 0.5s linear 
		-moz-transition: all 0.5s linear 
		-o-transition: all 0.5s linear 
		-ms-transition: all 0.5s linear 
		transition: all 0.5s linear 
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)" 
		filter: alpha(opacity=0) 
		opacity: 0 
	p 
		color: #333 
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)" 
		filter: alpha(opacity=0) 
		opacity: 0 
		-webkit-transform: scale(0) 
		-moz-transform: scale(0) 
		-o-transform: scale(0) 
		-ms-transform: scale(0) 
		transform: scale(0) 
		-webkit-transition: all 0.5s linear 
		-moz-transition: all 0.5s linear 
		-o-transition: all 0.5s linear 
		-ms-transition: all 0.5s linear 
		transition: all 0.5s linear 
.view-tenth:hover img,.w3l_banner_nav_right_banner3_btml:hover .view-tenth img 
	-webkit-transform: scale(10) 
	-moz-transform: scale(10) 
	-o-transform: scale(10) 
	-ms-transform: scale(10) 
	transform: scale(10) 
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)" 
	filter: alpha(opacity=0) 
	opacity: 0 
.view-tenth:hover .mask,.w3l_banner_nav_right_banner3_btml:hover .view-tenth .mask 
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)" 
	filter: alpha(opacity=100) 
	opacity: 1 
.view-tenth:hover h4,.view-tenth:hover p,.w3l_banner_nav_right_banner3_btml:hover .view-tenth h4,.w3l_banner_nav_right_banner3_btml:hover .view-tenth p 
	-webkit-transform: scale(1) 
	-moz-transform: scale(1) 
	-o-transform: scale(1) 
	-ms-transform: scale(1) 
	transform: scale(1) 
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)" 
	filter: alpha(opacity=100) 
	opacity: 1 
.view 
	overflow: hidden 
	position: relative 
	text-align: center 
	img 
		display: block 
		position: relative 
		margin: 0 auto 
	h4 
		text-transform: uppercase 
		color: #fff 
		text-align: center 
		position: relative 
		font-size: 17px 
		padding: 10px 
		background: rgba(0, 0, 0, 0.8) 
		margin: 5em 0 0 
		margin: 4.5em 0 0 
		margin: 4em 0 0 
		margin: 3.6em 0 0 
		margin: 1.8em 0 0 
		margin: 1.5em 0 0 
		margin: 5em 0 0 
		margin: 4.5em 0 0 
		margin: 4em 0 0 
		margin: 2.5em 0 0 
	p 
		font-style: italic 
		font-size: 14px 
		position: relative 
		color: #fff 
		padding: 10px 45px 0px 
		text-align: center 
		line-height: 1.8em 
		padding: 10px 35px 0px 
		padding: 10px 25px 0px 
		padding: 10px 10px 0px 
		font-size: 13px 
		font-size: 14px 
		padding: 10px 35px 0px 
		font-size: 13px 
		padding: 10px 10px 0px 
.view .mask,.view .content 
	position: absolute 
	overflow: hidden 
	top: 0 
	left: 0 
.w3l_fruit 
	margin-bottom: 2em !important 
	margin-bottom: 1.5em !important 
.w3ls_w3l_banner_nav_right_grid_head 
	h6 
		font-size: 1.5em 
		text-transform: uppercase 
		color: #212121 
		font-size: 1.3em 
		font-size: 1.2em 
.w3ls_w3l_banner_nav_right_grid_head_grid 
	padding-left: 0 
	padding-left: 1em 
	width: 55% 
	margin: 0 auto 
	width: 70% 
	width: 100% 
	h4 
		text-transform: capitalize 
		font-size: 1.2em 
		color: #212121 
		margin: 1em 0 
	ul 
		li 
			list-style-type: none 
			margin-bottom: .5em 
			a 
				color: #999 
				text-decoration: none 
				&:hover 
					color: #212121 
	&:nth-child(2) 
		margin: 2em auto 
.w3ls_w3l_banner_nav_right_grid_head_grids 
	margin: 3em 0 0 
	margin: 2em 0 0 
.w3ls_w3l_banner_nav_right_grid 
	padding: 0 0 5em 
	padding: 0 1em 3em 
	padding: 0 1em 2em 
.well 
	font-weight: 300 
	font-size: 14px 
	font-size: 14px 
	margin-bottom: 10px 
	padding: 10px 
.list-group-item 
	font-weight: 300 
	font-size: 14px 
li 
	&.list-group-item1 
		font-size: 14px 
		font-weight: 300 
		line-height: 2.5em 
.typo 
	p 
		margin: 0 
		font-size: 14px 
		font-weight: 300 
.show-grid 
	[class^=col-] 
		background: #fff 
		text-align: center 
		margin-bottom: 10px 
		line-height: 2em 
		border: 10px solid #f0f0f0 
	[class*="col-"]:hover 
		background: #e0e0e0 
.grid_3 
	margin-bottom: 2em 
	margin-bottom: 0em 
	p 
		color: #999 
		font-size: 0.85em 
		margin-bottom: 1em 
		font-weight: 300 
		line-height: 2em 
		color: #888 
		font-size: 0.9em 
		margin-bottom: 1em 
		font-weight: 300 
.xs h3, h3.m_1 
	color: #000 
	font-size: 1.7em 
	font-weight: 300 
	margin-bottom: 1em 
.grid_4 
	background: none 
	margin-top: 50px 
.label 
	font-weight: 300 !important 
	border-radius: 4px 
	font-weight: 300 !important 
	padding: 4px 6px 
	border: none 
	text-shadow: none 
	font-size: 60% 
	font-size: 53% 
.grid_5 
	background: none 
	padding: 2em 0 
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars 
	margin-bottom: 1em 
	color: #FA1818 
	margin-bottom: .5em 
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td 
	border-top: none !important 
	font-size: 0.9em 
	color: #999 
	border-top: none !important 
	font-size: 0.8em 
	font-size: 0.8em 
.tab-content 
	& > .active 
		display: block 
		visibility: visible 
		display: block 
		visibility: visible 
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus 
	z-index: 0 
.badge-primary 
	background-color: #03a9f4 
.badge-success 
	background-color: #8bc34a 
.badge-warning 
	background-color: #ffc107 
.badge-danger 
	background-color: #e51c23 
.bs-docs-example 
	margin: 1em 0 
section#tables 
	p 
		margin-top: 1em 
.tab-container 
	.tab-content 
		border-radius: 0 2px 2px 2px 
		border: 1px solid #e0e0e0 
		padding: 16px 
		background-color: #ffffff 
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th 
	padding: 15px!important 
	padding: 10px !important 
	padding: 3px !important 
.nav-tabs 
	margin-bottom: 3em 
.alert 
	font-size: 0.85em 
	padding: 10px 
	margin-bottom: 10px 
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button 
	line-height: 2em 
	margin-top: 0.5em 
	margin-bottom: 0.5em 
.input-group 
	margin-bottom: 20px 
.in-gp-tl 
	padding: 0 
.in-gp-tb 
	padding-right: 0 
.list-group 
	margin-bottom: 48px 
	margin-bottom: 10px 
ol 
	margin-bottom: 44px 
h2 
	&.typoh2 
		margin: 0 0 10px 
		font-size: 1.5em 
@media 
	(max-width 
		&:768px) 
			.grid_5 {
		padding: 0 0 1em 
		&:1680px) 
			.snipcart-details {
		width: 76% 
.progress 
	height: 10px 
	margin-bottom: 10px 
ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 
	font-size: 14px 
.breadcrumb 
	margin-bottom: 10px 
.table 
	h2 
		font-size: 23px 
	h3 
		font-size: 20px 
.alert,p 
	font-size: 14px 
.pagination 
	margin: 20px 0 0px 
h3 
	&.title 
		font-size: 1.6em 
.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item 
	font-size: 13px 
.nav 
	& > li 
		& > a 
			font-size: 14px 
table.table.table-striped,.table-bordered,.bs-docs-example 
	display: none 
}
.typo,.privacy,.faq,.services,.events,.mail,.agileinfo_single,.w3_login 
	padding: 5em 
.w3l_banner_nav_right_banner_pet 
	padding: 4.5em 0 0 4em !important 
	padding: 3em 0 0 3em !important 
	padding: 2em 0 0 2em !important 
	padding: 1em 0 0 1em !important 
	p 
		margin: 0 0 2em 
		font-size: 14px 
		color: #fff 
		line-height: 1.8em 
		margin: 0 0 1em 
.w3l_banner_nav_right_banner_pet a,.w3ls_service_grids1_right a 
	padding: 10px 30px 
	font-size: 1em 
	text-transform: uppercase 
	color: #fff 
	background: #FA1818 
	text-decoration: none 
.w3l_banner_nav_right_banner_pet a:hover,.w3ls_service_grids1_right a:hover 
	background: #84C639 
.privacy1-grid,.privacy2-grid 
	margin: 3em 0 0 
.privacy1-grid 
	ul 
		margin-bottom: 2em 
		padding: 0 2em 1em 
		border-bottom: 1px solid #E1E1E1 
		padding: 0 1em 1em 
		li 
			display: inline-block 
			font-size: 1.2em 
			color: #212121 
			margin-bottom: 1em 
			display: block 
			text-align: center 
			font-size: 1.1em 
			i 
				color: #84C639 
				top: -.5em 
				top: 0 
			&:nth-child(1) 
				margin-right: 2em 
				margin-right: 0 
			&:nth-child(2) 
				width: 85% 
				width: 100% 
			span 
				margin: 1em 0 0 
		&:nth-child(4) 
			padding-bottom: 0 
			border-bottom: none 
			margin-bottom: 0 
.privacy1-grid ul li span,.privacy2-grid1 p 
	display: block 
	font-size: 14px 
	color: #999 
	line-height: 1.8em 
.privacy2-grid1 
	padding: 0 2em 
	padding: 0 1em 
	padding: 0 
	h4 
		font-size: 1.5em 
		color: #84C639 
		margin: 0 0 1em 
		line-height: 1.5em 
		text-transform: capitalize 
		font-weight: 300 
		font-size: 1.2em 
		font-size: 1em 
	h5 
		font-size: 1.2em 
		color: #212121 
		margin: 0 0 1em 
		text-transform: capitalize 
		font-size: 1.1em 
		font-size: 1em 
		line-height: 1.5em 
.privacy1 
	&:nth-child(2) 
		margin: 3em 0 0 
	h3 
		font-size: 1.5em 
		color: #FA1818 
		text-transform: uppercase 
		font-weight: 300 
		letter-spacing: 3px 
		padding-bottom: .5em 
		position: relative 
		font-size: 1.3em 
		font-size: 1.1em 
		&:after 
			content: '' 
			position: absolute 
			bottom: 0% 
			left: 0% 
			background: #212121 
			height: 2px 
			width: 10% 
.privacy2-grid1-sub 
	margin: 2em 0 0 
	margin: 1.5em 0 0 
	&:nth-child(2) 
		margin: 2em 0 
.pa_italic 
	i 
		left: -1em 
		font-size: 11px 
	span 
		display: none 
.collapsed 
	span 
		display: inline-block 
		left: -1em 
		font-size: 11px 
	i 
		display: none 
.panel-heading 
	padding: 30px 15px 
	padding: 20px 15px 
.panel-title 
	& > a 
		font-size: 1em 
		color: #212121 
		text-transform: capitalize 
		text-decoration: none 
		line-height: 1.8em 
.panel-default 
	border-color: #FFF 
	background: #f5f5f5 
	& > .panel-heading 
		border-color: #FFF 
		color: #212121 
		background-color: #fff 
		& + .panel-collapse 
			& > .panel-body 
				border-top-color: transparent 
.panel-body 
	padding: 2em 
	font-size: 14px 
	line-height: 2em 
	color: #999 
	padding: 1em 
	font-size: 13px 
.w3l_panel_group_faq 
	margin: 3em 0 0 
	margin: 1em 0 0 
.w3ls_service_grid_left 
	padding: 0 
	h4 
		text-transform: uppercase 
		font-size: 1.5em 
		color: #212121 
		padding-bottom: .5em 
		position: relative 
		font-size: 1.2em 
		font-size: 1em 
		&:after 
			content: '' 
			position: absolute 
			bottom: 0% 
			left: 0% 
			background: #84C639 
			height: 2px 
			width: 30% 
	p 
		font-size: 14px 
		color: #999 
		line-height: 2em 
		margin: 1.5em 0 0 
.w3ls_service_grids 
	margin: 3em 0 
	margin: 3em 0 0 
	margin: 2em 0 0 
.w3ls_service_grid_right_1 
	padding-right: 0 
	padding-right: 1em 
	padding-left: 0 
	float: left 
	width: 33.33% 
	padding-left: 1em 
	float: none 
	width: 100% 
	margin-bottom: 1em 
.w3ls_service_grids1_right 
	padding-right: 0 
	padding-right: 1em 
	margin: 2em 0 0 
	padding: 0 
	ul 
		padding-bottom: 2em 
		padding-bottom: 1em 
		li 
			list-style-type: none 
			margin-bottom: 1.5em 
			color: #212121 
			text-transform: capitalize 
			line-height: 1.8em 
			i 
				padding-right: 1em 
				color: #84C639 
	a 
		margin-bottom: 1em 
		display: block 
		width: 40% 
		text-align: center 
		width: 45% 
		width: 55% 
.w3ls_service_grids1_left 
	img 
		margin: 0 auto 
.services-bottom 
	background: url(../images/2.jpg) no-repeat 0px 0px 
	background-size: cover 
	-webkit-background-size: cover 
	-moz-background-size: cover 
	-o-background-size: cover 
	-ms-background-size: cover 
	min-height: 300px 
	padding: 3em 0 
	min-height: 260px 
	padding: 2em 0 
.about_counter_left 
	text-align: center 
	float: left 
	width: 25% 
	width: 50% 
	i 
		font-size: 1.5em 
		color: #fff 
		width: 100px 
		height: 100px 
		border: 2px solid #fff 
		border-radius: 60px 
		padding-top: 1.4em 
		background: #84C639 
		width: 75px 
		height: 75px 
		padding-top: 1em 
		width: 55px 
		height: 55px 
		padding-top: 1em 
		font-size: 1.1em 
	p 
		font-size: 2.5em 
		font-weight: bold 
		color: #fff 
		margin: 0.5em 0 0em 
		font-size: 2em 
		font-size: 1.8em 
		font-size: 1.5em 
	h3 
		color: #fff 
		font-size: 1.3em 
		margin: .5em 0 0 
		font-size: 1.2em 
		font-size: 1em 
		font-size: 14px 
	&:nth-child(2) 
		margin-bottom: 2em 
.wthree_news_top_serv_btm_grid_icon 
	i 
		font-size: 2.5em 
		color: #FA1818 
		font-size: 2em 
		font-size: 1.5em 
.wthree_news_top_serv_btm_grid 
	float: left 
	width: 33.33% 
	padding-left: 0 
	padding-left: 1em 
	float: none 
	width: 100% 
	h3 
		font-size: 1.2em 
		color: #212121 
		text-transform: capitalize 
		margin: 2em 0 1em 
		font-size: 1.1em 
		margin: 1em 0 1em 
		margin: 1em 0 .5em 
	p 
		font-size: 14px 
		color: #999 
		line-height: 2em 
	&:nth-child(2) 
		margin: 2em 0 
.agile_about_grid_left 
	margin: 2em 0 0 
	ol 
		margin: 0 
		padding-left: 15px 
		li 
			color: #212121 
			margin-bottom: 1.5em 
.agile_about_grids 
	margin: 3em 0 0 
	margin: 2em 0 0 
	margin: 1em 0 0 
.team 
	background: #f5f5f5 
.agileits_team_grids 
	margin: 3em 0 0 
	margin: 2em 0 0 
.agileits_team_grid 
	text-align: center 
	float: left 
	width: 50% 
	float: none 
	width: 100% 
	h4 
		margin: 1em 0 .2em 
		color: #84C639 
		font-size: 1.2em 
		text-transform: uppercase 
		font-size: 1em 
	p 
		color: #999 
		font-size: 14px 
		margin-bottom: 1em 
	img 
		margin: 0 auto 
	&:nth-child(2) 
		margin-bottom: 2em 
		margin: 2em 0 
	&:nth-child(3) 
		margin-bottom: 2em 
.agileits_social_icons_team 
	li 
		a 
			border: 2px solid #212121 
			color: #212121 
			&:hover 
				color: #fff 
.w3_testimonials_grid 
	padding: 0 4em 
	padding: 0 1em 
	float: left 
	width: 50% 
	float: none 
	width: 100% 
	p 
		font-size: 14px 
		color: #999 
		line-height: 2em 
		i 
			display: block 
			font-size: 1.5em 
			padding: 0 2em 1em 0 
			color: #84C639 
			padding: 0 2em 0.5em 0 
	h4 
		font-size: 1em 
		color: #212121 
		text-align: right 
		text-transform: uppercase 
		margin: 2em 0 0 
		font-size: .9em 
		margin: 1em 0 0 
		span 
			display: block 
			font-weight: 300 
			letter-spacing: 3px 
			font-size: .8em 
			margin: .5em 0 0 
			color: #FA1818 
.w3_testimonials_grids 
	margin: 3em 0 0 
.wmuSlider 
	position: relative 
	overflow: hidden 
	.wmuSliderWrapper 
		article 
			img 
.wmuSliderPagination 
	z-index: 2 
	position: absolute 
	left: 47% 
	bottom: 2% 
	li 
		float: left 
		margin: 0 8px 0 0 
		list-style-type: none 
	a 
		display: block 
		text-indent: -9999px 
		width: 10px 
		height: 10px 
		background: #CFCFCF 
		border-radius: 50px 
		-webkit-border-radius: 50px 
		-moz-border-radius: 50px 
		-o-border-radius: 50px 
		-ms-border-radius: 50px 
		&.wmuActive 
			background: #84C639 
			box-shadow: 0px 0px 10px #84C639 
			-webkit-box-shadow: 0px 0px 10px #84C639 
			-moz-box-shadow: 0px 0px 10px #84C639 
			-o-box-shadow: 0px 0px 10px #84C639 
			-ms-box-shadow: 0px 0px 10px #84C639 
.wmuGallery 
	.wmuGalleryImage 
		margin-bottom: 10px 
.banner-wrap 
	padding: 0 0 4em 
.w3agile_event_grid_left 
	border-bottom: 1px solid #D2D2D2 
	height: 110px 
	height: 108px 
	height: 171px 
	height: 117px 
	float: left 
	width: 20% 
	height: 115px 
	height: 140px 
	height: 156px 
	padding-left: 0 
	text-align: center 
	i 
		font-size: 2em 
		color: #FA1818 
		padding-top: 1em 
		padding-top: 2em 
		padding-top: 1em 
		padding-top: 1.5em 
		padding-top: 2.5em 
		font-size: 1.5em 
.w3agile_event_grid_right 
	border-left: 1px solid #D2D2D2 
	padding-left: 3em 
	border-bottom: 1px solid #D2D2D2 
	padding-bottom: 1.25em 
	padding-left: 2em 
	padding-right: 0 
	float: right 
	width: 80% 
	padding-left: 1em 
	h4 
		font-size: 1.1em 
		color: #212121 
		text-transform: uppercase 
		font-size: 1em 
		font-size: 1.1em 
		line-height: 1.5em 
		font-size: 1em 
		font-size: .9em 
		font-size: .94em 
	p 
		font-size: 14px 
		color: #999 
		line-height: 2em 
		margin: 1em 0 0 
.w3agile_event_grids 
	&:nth-child(2) 
		margin: 3em 0 0 
	&:nth-child(3) 
		margin: 3em 0 
.events_bottom_left1_grid 
	width: 125px 
	height: 125px 
	background: #84C639 
	text-align: center 
	margin: 0 auto 
	width: 110px 
	height: 110px 
	width: 85px 
	height: 90px 
	width: 125px 
	height: 115px 
	width: 120px 
	width: 98px 
	width: 95px 
	width: 85px 
	width: 73px 
	height: 86px 
	h4 
		font-size: 2em 
		padding: .7em 0 
		background: #f5f5f5 
		padding: .5em 0 
		font-size: 1.5em 
		padding: 1em 0 
		padding: .5em 0 
	p 
		font-size: 14px 
		color: #fff 
		text-transform: uppercase 
		font-weight: bold 
		padding-top: .8em 
		font-size: 12px 
.events_bottom_left2 
	padding: 0 
	float: right 
	width: 70% 
	h4 
		text-transform: uppercase 
		font-size: 1.2em 
		color: #212121 
		margin: 2em 0 1em 
		line-height: 1.8em 
		margin: 1em 0 1em 
		font-size: 1em 
		font-size: .9em 
		margin: .5em 0 
	p 
		color: #999 
		line-height: 2em 
		font-size: 14px 
		margin: 1.5em 0 0 
		font-size: 13px 
		margin: 1em 0 0 
	ul 
		li 
			display: inline-block 
			margin-right: 1.5em 
			color: #212121 
			a 
				color: #212121 
				text-decoration: none 
				&:hover 
					color: #84C639 
			i 
				padding-right: 1em 
				color: #FA1818 
.events-bottom 
	padding: 5em 0 0 
	padding: 3em 0 0 
.agileinfo_mail_grid_left 
	padding: 0 
	width: 50% 
	margin: 0 auto 2em 
	width: 75% 
	width: 100% 
	ul 
		li 
			display: inline-block 
			font-size: 1em 
			color: #212121 
			text-transform: uppercase 
			font-weight: bold 
			font-size: .9em 
			i 
				font-size: 2em 
				color: #FA1818 
				font-size: 1.5em 
			span 
				display: block 
				font-weight: 300 
				font-size: 0.9em 
				letter-spacing: 1px 
				font-size: 0.8em 
			&:first-child 
				padding-right: 1.5em 
				padding-right: 1em 
				padding-right: 2em 
			&:last-child 
				padding-left: 1.5em 
				border-left: 1px solid #999 
				padding-left: 1em 
				padding-left: 2em 
			a 
				text-decoration: none 
				color: #212121 
				&:hover 
					color: #FA1818 
		&:nth-child(2) 
			margin: 3em 0 
.agileinfo_mail_grids 
	margin: 3em 0 0 
.agileinfo_mail_grid_right input[type="text"],.agileinfo_mail_grid_right input[type="email"],.agileinfo_mail_grid_right textarea 
	outline: none 
	padding: 10px 
	font-size: 14px 
	color: #212121 
	background: #f5f5f5 
	width: 100% 
	border: 1px solid #E6E6E6 
.agileinfo_mail_grid_right input[type="text"]:nth-child(2),.agileinfo_mail_grid_right input[type="email"] 
	margin: 1em 0 0 
.agileinfo_mail_grid_right 
	textarea 
		min-height: 200px 
		margin: 1em 1.1em 
		width: 95.9% !important 
		width: 93.5% !important 
		width: 95.5% !important 
		width: 94% !important 
		width: 100% !important 
		margin: 1em 0em 
	input[type="email"] 
		margin: 1em 0 
	input[type="submit"] 
		margin-bottom: 1em 
.agileinfo_mail_grid_right input[type="submit"],.agileinfo_mail_grid_right input[type="reset"] 
	outline: none 
	padding: 10px 0 
	font-size: 14px 
	color: #fff 
	background: #84C639 
	width: 46.6% 
	border: none 
	text-transform: uppercase 
	margin-left: 1.1em 
.agileinfo_mail_grid_right input[type="submit"]:hover,.agileinfo_mail_grid_right input[type="reset"]:hover 
	background: #212121 
.map 
	iframe 
		width: 100% 
		min-height: 400px 
		margin-bottom: -6px 
		min-height: 300px 
		min-height: 250px 
		min-height: 200px 
.agileinfo_single 
	h5 
		font-size: 1.8em 
		color: #212121 
		line-height: 1.5em 
		text-transform: uppercase 
		margin-bottom: 2em 
		font-size: 1.5em 
		font-size: 1.3em 
		font-size: 1.2em 
		font-size: 1em 
.agileinfo_single_left 
	padding: 2em 
	box-shadow: 0px 0px 5px #E1E1E1 
	width: 50% 
	margin: 0 auto 2em 
	width: 75% 
	width: 90% 
.rating1 
	direction: ltr 
.starRating 
	&:not(old) 
		display: inline-block 
		height: 17px 
		width: 100px 
		overflow: hidden 
		& > input 
			margin-right: -26% 
			opacity: 0 
		& > label 
			float: right 
			background: url(../images/star.png) 
			background-size: contain 
			margin-right: 2px 
			&:before 
				content: '' 
				display: block 
				width: 16px 
				height: 16px 
				background: url(../images/star1.png) 
				background-size: contain 
				opacity: 0 
				transition: opacity 0.2s linear 
.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before 
	opacity: 1 
.agileinfo_single_right 
	padding-left: 5em 
	padding-left: 3em 
	padding-left: 1em 
	padding: 0 
.agileinfo_single_right_snipcart 
	margin: 0 0 2em 
	margin: 0 0 1em 
.agileinfo_single_right_details 
	margin: 0 !important 
	width: 25% !important 
	width: 33% !important 
	width: 45% !important 
	width: 55% !important 
.w3agile_description 
	margin: 2em 0 
	margin: 2em 0 1em 
	h4 
		font-size: 1em 
		color: #212121 
		text-transform: uppercase 
	p 
		font-size: 14px 
		color: #999 
		line-height: 2em 
		margin: .5em 0 0 
		width: 80% 
		font-size: 13px 
		width: 100% 
.w3ls_w3l_banner_nav_right_grid_popular 
	background: #f5f5f5 
	padding: 5em 0 !important 
	padding: 2em 0 !important 
.checkout 
	padding: 5em 0 
	h2 
		font-size: 1em 
		color: #212121 
		text-transform: uppercase 
		margin: 0 0 3em 
		span 
			color: #3399cc 
table 
	&.timetable_sub 
		width: 100% 
		margin: 0 auto 
	&.table 
		width: 100% 
.timetable_sub 
	thead 
		background: #004284 
	th 
		background: #212121 
		color: #fff !important 
		text-transform: capitalize 
		font-size: 13px 
		border-right: 1px solid #ded2d2 
	td 
		border: 1px solid #CDCDCD 
.timetable_sub th, .timetable_sub td 
	text-align: center 
	padding: 7px 
	font-size: 14px 
	color: #212121 
	padding: 7px 0px 
	width: 50px 
	font-size: 12px 
td 
	&.invert-image 
		a 
			img 
				width: 30% 
				margin: 0 auto 
.rem 
	position: relative 
.close1,.close2,.close3 
	background: url('../images/close_1.png') no-repeat 0px 0px 
	cursor: pointer 
	width: 28px 
	height: 28px 
	position: absolute 
	right: 15px 
	top: -13px 
	-webkit-transition: color 0.2s ease-in-out 
	-moz-transition: color 0.2s ease-in-out 
	-o-transition: color 0.2s ease-in-out 
	transition: color 0.2s ease-in-out 
.value-minus,
.value-plus 
	height: 40px 
	line-height: 24px 
	width: 40px 
	margin-right: 3px 
	display: inline-block 
	cursor: pointer 
	position: relative 
	font-size: 18px 
	color: #fff 
	text-align: center 
	-webkit-user-select: none 
	-moz-user-select: none 
	border: 1px solid #b2b2b2 
	vertical-align: bottom 
.quantity-select .entry.value-minus:before,
.quantity-select .entry.value-plus:before 
	content: "" 
	width: 13px 
	height: 2px 
	background: #000 
	left: 50% 
	margin-left: -7px 
	top: 50% 
	margin-top: -0.5px 
	position: absolute 
.quantity-select 
	.entry 
		&.value-plus 
			&:after 
				content: "" 
				height: 13px 
				width: 2px 
				background: #000 
				left: 50% 
				margin-left: -1.4px 
				top: 50% 
				margin-top: -6.2px 
				position: absolute 
		&.value-minus 
			margin-left: 0 
.value 
	cursor: default 
	width: 40px 
	height: 40px 
	padding: 8px 0px 
	color: #A9A9A9 
	line-height: 24px 
	border: 1px solid #E5E5E5 
	background-color: #E5E5E5 
	text-align: center 
	display: inline-block 
	margin-right: 3px 
	width: 17px 
	height: 17px 
	line-height: 0px 
.quantity-select .entry.value-minus:hover,
 .quantity-select .entry.value-plus:hover 
	background: #E5E5E5 
.checkout-left-basket 
	float: left 
	padding-left: 0 
	float: left 
	width: 100% 
	margin-bottom: 2em 
	h4 
		padding: 1em 
		background: #84c639 
		font-size: 1.1em 
		color: #fff 
		text-transform: uppercase 
		text-align: center 
		margin: 0 0 1em 
		padding: 0.9em 
		font-size: 1em 
	ul 
		li 
			list-style-type: none 
			margin-bottom: 1em 
			font-size: 14px 
			color: #999 
			span 
				float: right 
			&:nth-child(5) 
				font-size: 1em 
				color: #212121 
				font-weight: 600 
				padding: 1em 0 
				border-top: 1px solid #DDD 
				border-bottom: 1px solid #DDD 
				margin: 2em 0 0 
.checkout-left 
	margin: 2em 0 0 
.information-wrapper 
	input 
		width: 100%!important 
.agileits-login 
	label 
		font-size: 1em 
		color: #000 
		letter-spacing: 0.5px 
		font-weight: 400 
		cursor: pointer 
		position: relative 
input 
	&.checkbox 
		background: #fd0006 
		cursor: pointer 
		width: 1.2em 
		height: 1.2em 
		display: inline-block 
		margin: 0 5px 0 0 
		vertical-align: text-bottom 
		&:before 
			content: "" 
			position: absolute 
			width: 1.2em 
			height: 1.2em 
			background: inherit 
			cursor: pointer 
		&:after 
			content: "" 
			position: absolute 
			top: 0px 
			left: 0 
			z-index: 1 
			width: 1.2em 
			height: 1.2em 
			border: 1px solid #fff 
			-webkit-transition: .4s ease-in-out 
			-moz-transition: .4s ease-in-out 
			transition: .4s ease-in-out 
		&:checked 
			&:after 
				-webkit-transform: rotate(-45deg) 
				-moz-transform: rotate(-45deg) 
				-o-transform: rotate(-45deg) 
				-ms-transform: rotate(-45deg) 
				transform: rotate(-45deg) 
				height: 1.2em 
				border-color: #fff 
				border-top-color: transparent 
				border-right-color: transparent 
	&.my-product-quantity 
		width: 40px !important 
.anim 
	input 
		&.checkbox 
			&:checked 
				&:after 
					-webkit-transform: rotate(-45deg) 
					-moz-transform: rotate(-45deg) 
					-o-transform: rotate(-45deg) 
					-ms-transform: rotate(-45deg) 
					transform: rotate(-45deg) 
					height: .6em 
					border-color: transparent 
					border-right-color: transparent 
					animation: .4s rippling .4s ease 
					animation-fill-mode: forwards 
@keyframes 
	rippling 
		50% {
		border-left-color: #fff 
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] 
	margin-left: -29px 
.pen-title 
	padding: 50px 0 
	text-align: center 
	letter-spacing: 2px 
	h1 
		margin: 0 0 20px 
		font-size: 48px 
		font-weight: 300 
	span 
		font-size: 12px 
		.fa 
			color: #33b5e5 
		a 
			color: #33b5e5 
			font-weight: 600 
			text-decoration: none 
.form-module 
	position: relative 
	background: #ffffff 
	max-width: 400px 
	width: 100% 
	border-top: 5px solid #FA1818 
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) 
	margin: 3em auto 0 
	margin: 2em auto 0 
	.toggle 
		cursor: pointer 
		position: absolute 
		top: -0 
		right: -0 
		background: #FA1818 
		width: 30px 
		height: 30px 
		margin: -5px 0 0 
		color: #ffffff 
		font-size: 12px 
		line-height: 30px 
		text-align: center 
		.tooltip 
			position: absolute 
			top: 5px 
			right: -75px 
			display: block 
			background: rgba(0, 0, 0, 0.6) 
			width: auto 
			padding: 5px 
			font-size: 12px 
			line-height: 1 
			text-transform: uppercase 
			opacity: 1 
			font-family: 'Ubuntu', sans-serif !important 
			display: none 
			&:before 
				content: '' 
				position: absolute 
				top: 5px 
				left: -5px 
				display: block 
				border-top: 5px solid transparent 
				border-bottom: 5px solid transparent 
				border-right: 5px solid rgba(0, 0, 0, 0.6) 
	.form 
		display: none 
		padding: 40px 
		padding: 20px 
		&:nth-child(2) 
			display: block 
	h2 
		margin: 0 0 1.5em 
		color: #212121 
		font-size: 1.2em 
		font-weight: 400 
		line-height: 1 
	input[type="submit"] 
		background: #84C639 
		width: 100% 
		border: 0 
		padding: 10px 15px 
		color: #ffffff 
		-webkit-transition: 0.3s ease 
		transition: 0.3s ease 
		font-size: 14px 
		font-weight: bold 
	input[type="submit"]:hover 
		background: #FA1818 
	.cta 
		background: #343434 
		width: 100% 
		padding: 15px 40px 
		box-sizing: border-box 
		color: #fff 
		text-align: center 
		padding: 10px 0px 
		a 
			color: #fff 
			text-decoration: none 
			font-size: 1em 
			font-size: 14px 
.w3_login_module 
	min-height: 475px 
	min-height: 433px 
	min-height: 375px 
.form-module input[type="text"],.form-module input[type="password"],.form-module input[type="email"] 
	outline: none 
	display: block 
	width: 100% 
	border: 1px solid #d9d9d9 
	margin: 0 0 20px 
	padding: 10px 15px 
	box-sizing: border-box 
	font-wieght: 400 
	-webkit-transition: 0.3s ease 
	transition: 0.3s ease 
	font-size: 14px 
.form-module input[type="text"]:focus,.form-module input[type="password"]:focus,.form-module input[type="email"]:focus 
	border: 1px solid #A9A9A9 
	color: #333333 
.w3l_banner_nav_right_banner3 h3, .w3l_banner_nav_right_banner4 h3, .w3l_banner_nav_right_banner5 h3, .w3l_banner_nav_right_banner6 h3, .w3l_banner_nav_right_banner7 h3, .w3l_banner_nav_right_banner8 h3, .w3l_banner_nav_right_banner9 h3, .w3l_banner_nav_right_banner10 h3 
	width: 45% 
	margin-left: 8em 
	font-size: 1.7em 
	width: 55% 
	margin-left: 7em 
	font-size: 1.4em 
	width: 65% 
	margin-left: 5em 
	font-size: 1.2em 
	width: 75% 
	margin-left: 3em 
	width: 86% 
	margin-left: 1em 
	font-size: 1.1em 
.w3l_banner_nav_right_banner1, .w3l_banner_nav_right_banner, .w3l_banner_nav_right_banner2 
	padding: 10em 7em 0 0 
	padding: 7em 13em 0 0 
	min-height: 375px 
	padding: 7em 4em 0 0 
	min-height: 315px 
	padding: 5em 4em 0 0 
	min-height: 240px 
	padding: 2.5em 3em 0 0 
	margin-bottom: 3em 
	min-height: 190px 
	padding: 2em 3em 0 0 
.w3ls_w3l_banner_left 
	padding-left: 0 
	padding-left: 1em 
	float: left 
	width: 50% 
	&:nth-child(3) 
		margin-bottom: 3em 
		margin: 0 auto 
	&:nth-child(2) 
		margin-bottom: 3em 
		margin-bottom: 2em 
	&:nth-child(4) 
		margin: 2em auto 
.typo, .privacy, .faq, .services, .events, .mail, .agileinfo_single, .w3_login 
	padding: 5em 3em 
	padding: 4em 3em 
	padding: 3em 2em 
	padding: 2em 1em 
.top_brand_left 
	padding-left: 0 
	padding: 0 1em 
	float: left 
	width: 50% 
	&:nth-child(2) 
		margin: 0 0 3em 
		margin: 0 0 2em 
		margin: 2em auto 
	&:nth-child(3) 
		margin-bottom: 2em 
.top-brands h3, .fresh-vegetables h3, .mail h3, .testimonials h3, .w3_login h3, .w3ls_w3l_banner_nav_right_grid h3, h3.title, .faq h3, .services h3, .about h3, .team h3, .events h3 
	font-size: 2.3em 
	font-size: 2em 
	font-size: 1.8em 
	font-size: 1.6em 
	font-size: 1.49em 
.banner_bottom, .top-brands, .fresh-vegetables, .w3l_banner_nav_right_banner3_btm, .testimonials, .team, .newsletter-top-serv-btm, .w3ls_w3l_banner_nav_right_grid_sub 
	padding: 4em 0 !important 
	padding: 3em 0 !important 
	padding: 2em 0 !important 
.agile_footer_grids_w3_footer 
	width: 35% 
	margin: 0 !important 
	&:nth-child(1) 
		margin-bottom: 2em !important 
#Awesome 
	h4 
		padding: 1.9em 0 0 
.w3l_banner_nav_right_banner3, .w3l_banner_nav_right_banner4, .w3l_banner_nav_right_banner5, .w3l_banner_nav_right_banner6, .w3l_banner_nav_right_banner7, .w3l_banner_nav_right_banner8, .w3l_banner_nav_right_banner9, .w3l_banner_nav_right_banner10 
	min-height: 225px 
	padding-top: 5.5em 
	min-height: 190px 
	padding-top: 4.5em 
	min-height: 155px 
	padding-top: 3.7em 
	min-height: 125px 
	padding-top: 2.7em 
.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] 
	width: 44.6% 
	width: 46.3% 
	width: 46% 
	width: 45% 
	width: 46.7% 
	width: 49.5% 
	margin: 0 
	width: 100% 
	margin: 0 
.container 
	width: 815px 
	width: 765px 
	width: 750px 
	width: 710px 
	width: auto 
.wthree_banner_bottom_left_grid_sub,.wthree_banner_bottom_left_grid_sub1 
	float: none 
	width: 100% 
.w3l_fresh_vegetables_grids 
	padding: 0 
	background: #fff 
	margin: 2em 0 0 
.w3l_fresh_vegetables_grid1_bottom img, .w3l_fresh_vegetables_grid1 img 
	margin: 0 auto 
.w3ls_w3l_banner_left_asd 
	margin-bottom: 0 !important 
.w3ls_service_grid_right 
	margin: 2em 0 0 
	margin: 1em 0 0 
	padding: 0 
.w3agile_event_grid 
	padding: 0 
	&:nth-child(2) 
		margin: 3em 0 0 
.events_bottom_left1 
	float: left 
	width: 30% 
	padding-left: 0 
	padding-right: .5em 
.events_bottom_left 
	padding: 0 
	&:nth-child(2) 
		margin: 2em 0 0 
.checkout-right h4, .address_form_agile h4 
	font-size: 1.2em 
	font-size: 1em 
	line-height: 1.7em 
.w3l_banner_nav_right_banner_pet a, .w3ls_service_grids1_right a 
	padding: 10px 40px 
	font-size: 14px 
	padding: 10px 30px 
	padding: 7px 30px 
	font-size: 13px 
.navbar-toggle 
	float: none 
	margin: .55em 0 0 
	border: 1px solid #212121 
	.icon-bar 
		border: 1px solid #212121 
.w3ls_w3l_banner_nav_right_grid_sub 
	padding-left: 1em !important 
	padding-right: 1em !important 
	padding-left: 1em !important 
	padding-right: 1em !important 
.agileinfo_mail_grid_right,.wthree_contact_left_grid 
	padding: 0 
.value-minus, .value-plus 
	height: 17px 
	width: 17px 
.w3l_banner_nav_right_banner h3, .w3l_banner_nav_right_banner1 h3, .w3l_banner_nav_right_banner2 h3 
	font-size: 1.5em 
.top_brand_left,.w3ls_w3l_banner_left 
	float: none 
	width: 70% 
	margin: 0 auto 
.w3l_banner_nav_right_banner3 span, .w3l_banner_nav_right_banner4 span, .w3l_banner_nav_right_banner5 span, .w3l_banner_nav_right_banner6 span, .w3l_banner_nav_right_banner7 span, .w3l_banner_nav_right_banner8 span, .w3l_banner_nav_right_banner9 span, .w3l_banner_nav_right_banner10 span 
	top: -85% 
	top: -125% 
.w3ls_w3l_banner_left_asdfdfd 
	margin-bottom: 2em 
.w3ls_w3l_banner_nav_right_grid1_veg 
	margin: 0 !important 
.w3ls_w3l_banner_nav_right_grid_veg 
	padding: 0 1em !important 
.privacy1-grid, .privacy2-grid 
	margin: 2em 0 0 
.w3_login 
	padding-bottom: 0 
.top_brand_left, .w3ls_w3l_banner_left 
	width: 80% 
	width: 90% 
	width: 100% 
p.animi,.w3_testimonials_grids 
	margin: 2em 0 0 
ul li, ol li 
	font-size: 13px 
.agile_top_brand_left_grid1 p,.agileinfo_mail_grid_right input[type="text"], .agileinfo_mail_grid_right input[type="email"], .agileinfo_mail_grid_right textarea,.w3agile_event_grid_right p,.agileits_team_grid p,p.animi,.w3_testimonials_grid p,.wthree_news_top_serv_btm_grid p,.privacy1-grid ul li span,.w3ls_service_grid_left p, .privacy2-grid1 p,.w3l_fresh_vegetables_grid ul li a,.wthree_footer_copy p,.w3l_banner_nav_right_banner_pet p 
	font-size: 13px 
.w3ls_w3l_banner_nav_right_grid_head_grid,.agile_about_grid_right,.agile_about_grid_left 
	padding: 0 
.wthree_news_top_serv_btm_grid,.w3_testimonials_grid 
	padding: 0 
.form-module input[type="text"], .form-module input[type="password"], .form-module input[type="email"] 
	margin: 0 0 10px 
	padding: 10px 
	font-size: 13px 
