

<!-- *** FOOTER ***  -->
 
<div id="footer" style="background-image: url(./assets/img/footer-bg.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <h4 class="mb-3">Sayfalar</h4>
        <ul class="list-unstyled">
          <li><a href="#">Hakkımızda</a></li>
          <li><a href="#">İade Koşulları</a></li> 
          <li><a href="#">İletişime Geçin</a></li>
        </ul>
        <hr>
        <h4 class="mb-3">Sipariş</h4>
        <ul class="list-unstyled">
          <li><a href="#" data-toggle="modal" data-target="#login-modal">Üyelik İşlemleri</a></li>
          <li><a href="#">Sipariş</a></li>
          <li><a href="#">Migros Kapıda Hizmet</a></li>
        </ul>
      </div>
      <!-- /.col-lg-3-->
      <div class="col-lg-3 col-md-6">
        <h4 class="mb-3">En Çok Bakılanlar</h4>
        <h5>Gıda , Şekerleme</h5>
        <ul class="list-unstyled">
          <li><a href="#">Bakliyat,Makarna</a></li>
          <li><a href="#">Sıvı Yağlar</a></li>
          <li><a href="#">Bisküvi,Çerez</a></li>
          <li><a href="#">Şeker</a></li>
          <li><a href="#">Dondurulmuş Gıda</a></li>
        </ul>
        <h5>Meyve , Sebze</h5>
        <ul class="list-unstyled">
          <li><a href="#">Meyve</a></li>
          <li><a href="#">Sebze</a></li> 
        </ul>
      </div> 
      <!-- /.col-lg-3-->
      <div class="col-lg-3 col-md-6">
        <h4 class="mb-3">Genel Merkez</h4>
        <p><strong>Atatürk Mah.</strong><br>Turgut Özal Bulvarı<br>No:7<br>England<br><strong>Ataşehir/İstanbul</strong></p>
        <hr class="d-block d-md-none">
      </div>
      <!-- /.col-lg-3-->
      <div class="col-lg-3 col-md-6">
        <h4 class="mb-3">Kampanyalardan Haberdar Ol !</h4>
        <p class="text-muted">Yapılacak Money Club Kart üyeliklerinin avantajlarından yararlanmak için veya marketlerdeki indirim günlerinden haberdar olmak için mail adresinizi ekleyebilirsiniz.</p>
        <form>
          <div class="input-group">
            <input type="text" class="form-control"><span class="input-group-append">
              <button type="button" class="btn btn-outline-secondary">Üye Ol!</button></span>
          </div>
          <!-- /input-group-->
        </form>
        <hr>
        <h4 class="mb-3">İletişimde Kal</h4>
        <p class="social"><a href="#" class="facebook external"><i class="fa fa-facebook"></i></a><a href="#" class="twitter external"><i class="fa fa-twitter"></i></a><a href="#" class="instagram external"><i class="fa fa-instagram"></i></a><a href="#" class="gplus external"><i class="fa fa-google-plus"></i></a><a href="#" class="email external"><i class="fa fa-envelope"></i></a></p>
      </div>
      <!-- /.col-lg-3-->
    </div>
    <!-- /.row-->
  </div>
  <!-- /.container-->
</div>
<!-- /#footer-->
<!-- *** FOOTER END ***-->


<!--
*** COPYRIGHT ***
_________________________________________________________
-->
<div id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-2 mb-lg-0">
        <p class="text-center text-lg-left">©2019 Ahmet AYDIN</p>
      </div>
      <div class="col-lg-6">
        <p class="text-center text-lg-right">Migros Angular Case Çalışması 
          <!-- Not removing these links is part of the licence conditions of the template. Thanks for understanding :)-->
        </p>
      </div>
    </div>
  </div>
</div>