
 <div id="all">
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
         
        </div>
        <div id="basket" class="col-lg-9">
          <div class="box">
            <form method="post" action="checkout1.html">
              <h2>Alışveriş Sepetiniz</h2>
              <p class="text-muted" *ngIf="(shoppingListState | async).ingredients.length > 0 " >Sepetinizde  {{(shoppingListState | async).ingredients.length}} farklı ürün bulunmaktadır.</p>
              <p class="text-muted" *ngIf="(shoppingListState | async).ingredients.length == 0 " >Sepetinizde ürün bulunmamaktadır !</p>
              <div class="table-responsive" *ngIf="(shoppingListState | async).ingredients.length > 0 ">
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="2">Ürün Adı</th>
                      <th>Kilo / Adet</th>
                      <th>Birim Fiyatı</th>
                      <th>Birim İndirim</th>
                      <th colspan="2">Toplam</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let cartItem of (shoppingListState | async).ingredients ; let i = index">
                          <td><a href="#"><img src="{{cartItem.imageUrl}}" alt="{{cartItem.productName}}"></a></td>
                          <td>{{cartItem.productName}}</td> 
                          <td style="width: 160px;" class="row">
                              <button class="btn btn-xs btn-warning col-md-3 fa fa-minus" (click)="decreaseFromCart(cartItem,i)">
                                </button>
                              <input type="text" min="1" value="{{cartItem.howManyAdded}}" readOnly="readOnly" class="col-md-4 form-control">
                              <button class="btn btn-xs btn-success col-md-3 fa fa-plus" (click)="increaseFromCart(cartItem,i)">
                                </button>
                            </td> 
                          <td *ngIf="cartItem.oldUnitPrice != undefined ">{{cartItem.oldUnitPrice | currency}}</td>
                          <td *ngIf="cartItem.oldUnitPrice == undefined">{{cartItem.unitPrice | currency}}</td>
                          <td> - {{cartItem.oldUnitPrice - cartItem.unitPrice | currency}}</td>
                          <td>   {{cartItem.howManyAdded * cartItem.unitPrice | currency}}</td>
                          <td><a href="javascript:void(0);"><i class="fa fa-trash-o" (click)="deleteItem(i,cartItem);"></i></a></td>
                        </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th colspan="5">Ara Toplam</th>
                      <th colspan="2"> {{totalPrice | currency }} </th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.table-responsive-->
              <div class="box-footer d-flex justify-content-between flex-column flex-lg-row" *ngIf="(shoppingListState | async).ingredients.length > 0 ">
                <div class="left" (click)="goProducts()"><a href="#" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i> Alışverişe Devam Et</a></div>
                <div class="right">
                  <button class="btn btn-outline-secondary"><i class="fa fa-refresh"></i> Sepeti Güncelle</button>
                  <button type="submit" class="btn btn-primary">Alışverişi Tamamla <i class="fa fa-chevron-right"></i></button>
                </div>
              </div>
            </form>
          </div>
          <!-- /.box-->
       
        </div>
        <!-- /.col-lg-9-->
        <div class="col-lg-3">
          <div id="order-summary" class="box">
            <div class="box-header">
              <h3 class="mb-0">Alışveriş Özeti</h3>
            </div>
            <p class="text-muted">Alışverişinizin detaylı harcamasıdır</p>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Sepet Toplamı</td>
                    <th> {{totalPrice | currency }}</th>
                  </tr> 
                  <tr>
                    <td>Kargo</td>
                    <th>$10.00</th>
                  </tr>
                  <tr>
                    <td>Ekstra Vergi</td>
                    <th>$0.00</th>
                  </tr>
                  <tr class="total">
                    <td>Toplam</td>
                    <th> {{totalPrice + 10 | currency }}</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="box">
            <div class="box-header">
              <h4 class="mb-0">Kupon Kodu</h4>
            </div>
            <p class="text-muted">Eğer kuponlarınız var ise sepette indirim kazanabilirsiniz..</p>
            <form>
              <div class="input-group">
                <input type="text" class="form-control"><span class="input-group-append">
                  <button type="button" class="btn btn-primary"><i class="fa fa-gift"></i></button></span>
              </div>
              <!-- /input-group-->
            </form>
          </div>
        </div>
        <!-- /.col-md-3-->
      </div>
    </div>
  </div>
</div>