 

<div id="all">
  <div id="content">
    <div class="container">
      <div class="row">                       
        <div class="col-lg-12">
          <div class="box info-bar">
            <div class="row">
              <div class="col-md-12 col-lg-4 products-showing">Toplam <strong>16</strong> ürün</div>
              <div class="col-md-12 col-lg-7 products-number-sort">
                <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                  <div class="products-number"><strong>Toplam</strong><a href="#" class="btn btn-sm">8</a><a href="#" class="btn btn-sm btn-primary">16</a> <a href="#" class="btn btn-outline-secondary btn-sm">Tüm</a><span>ürün gösteriliyor</span></div>
                  <div class="products-sort-by mt-2 mt-lg-0"><strong>Sırala</strong>
                    <select name="sort-by" class="form-control">
                      <option>Akıllı Sıralama</option>
                      <option>Fiyat</option>
                      <option>Ürün Adı</option> 
                    </select>
                  </div>
                </form>
              </div>
            </div>
          </div> 
  
          <div class="row products">
              <div class="col-lg-3 col-md-4 items" *ngFor="let product of products">
                  <div class="product item">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="#"><img src="{{product.imageUrl}}" alt="" class="img-fluid"></a></div>
                        <!-- Responsive Css  Breaking <div class="back item"><a href="#"><img src="{{product.imageUrl}}" alt="" class="img-fluid"></a></div> -->
                      </div>
                    </div>
                    <a href="#" class="invisible">
                      <img src="{{product.imageUrl}}" alt="" class="img-fluid">
                    </a>
                    <div class="text">
                      <h3><a href="#">{{product.productName}}</a></h3>
                      <p class="price"> 
                        <del>{{product.oldUnitPrice | currency}}  </del>  {{product.unitPrice | currency}}  / {{product.quantityPerUnit}}
                      </p>
                      <p class="buttons"><a href="javascript:void(0);" class="btn btn-outline-secondary hvr-bubble-float-left">Detaylar</a>
                        <a (click)="addToCart(product)" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</a></p>
                    </div>
                    <!-- /.text-->
                    <div class="ribbon sale" *ngIf="product.categoryId == 1 || product.categoryId == 2" >
                        <div class="theribbon">TAZE</div>
                        <div class="ribbon-background"></div>
                      </div>
                      <!-- /.ribbon-->
                    <div class="ribbon new" *ngIf="product.categoryId == 4" >
                        <div class="theribbon">YENİ</div>
                        <div class="ribbon-background"></div>
                      </div>
                      <!-- /.ribbon-->
                    <div class="ribbon gift" *ngIf="product.categoryId == 3" >
                        <div class="theribbon">Ucuz</div>
                        <div class="ribbon-background"></div>
                      </div>
                      <!-- /.ribbon-->
                  </div>
                  <!-- /.product            -->
                </div>
            <!-- /.products-->
          </div>

          <div class="pages">
            <p class="loadMore"><a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Daha Fazla Yükle</a></p>
            <nav aria-label="Page navigation example" class="d-flex justify-content-center">
              <ul class="pagination">
                <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li> 
                <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /.col-lg-9-->
      </div>
    </div>
  </div>
</div>