
 <!-- navbar-->
 <header class="header mb-5">
    <!--
    *** TOPBAR ***
    _________________________________________________________
    -->
  
    <nav class="navbar navbar-expand-lg">
      <div class="container"><a href="#" class="navbar-brand home"><img src="./assets/img/logo.png" alt="Migros" class="d-none d-md-inline-block"><img src="./assets/img/logo.png" alt="Migros" class="d-inline-block d-md-none"><span class="sr-only">Migros Anasayfa</span></a>
        <div class="navbar-buttons">
          <button type="button" data-toggle="collapse" data-target="#navigation" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
          <button type="button" data-toggle="collapse" data-target="#search" class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></button><a href="javascript:void(0);" class="btn btn-outline-secondary navbar-toggler"><i class="fa fa-shopping-cart"></i></a>
        </div>
        <div id="navigation" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" ><a routerLinkActive="active" routerLink="home" class="nav-link ">Anasayfa</a></li>
            <li class="nav-item" ><a routerLinkActive="active" routerLink="products" class="nav-link">TÜM ÜRÜNLER</a></li>
            <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="200" class="dropdown-toggle nav-link">ÜRÜN ÇEŞİTLERİ<b class="caret"></b></a>
              <ul class="dropdown-menu megamenu">
                <li>
                  <div class="row">
                    <div class="col-md-6 col-lg-3">
                      <h5>Manav</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="#" class="nav-link">Meyve</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Sebze</a></li> 
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>İçecekler</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="#" class="nav-link">Meyve Suyu</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Gazlı İçecekler</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Süt</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Alkollü İçecekler</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Aksesuarlar</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="#" class="nav-link">Mutfak Eşya & Gereçlerİ</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Ev,Ofİs & Bahçe Dekorasyon</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Kitap & Dergi</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Tekstİl</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Elektronİk</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Pet Ürünlerİ</a></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                      <h5>Yakında Gelecekler</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="#" class="nav-link">Dağcılık malzemelerİ</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Balıkçılık ürünlerİ</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Kayak takımları</a></li>
                      </ul>
                      <h5>Azalan Ürünler</h5>
                      <ul class="list-unstyled mb-3">
                        <li class="nav-item"><a href="#" class="nav-link">Spor Ayakkabı</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Mont</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Kazak ve Yelek</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </li> 
          </ul>
          <div class="navbar-buttons d-flex justify-content-end">
            <!-- /.nav-collapse-->
            <div id="search-not-mobile" class="navbar-collapse collapse"></div><a data-toggle="collapse" href="#search" class="btn navbar-btn btn-primary d-none d-lg-inline-block"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></a>
            <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block" (click)="goShoppingCart();"><a href="javascript:void(0);" class="btn btn-primary navbar-btn">
                <i class="fa fa-shopping-cart shopping-cart"></i>
                <span *ngIf="(shoppingListState | async).ingredients.length > 0">Sepette {{(shoppingListState | async).ingredients.length}} çeşit ürün var !</span>
                <span *ngIf="(shoppingListState | async).ingredients.length == 0">Sepet Boş !</span>
            </a></div>
          </div>
        </div>
      </div>
    </nav>
    <div id="search" class="collapse">
      <div class="container">
        <form role="search" class="ml-auto">
          <div class="input-group">
            <input type="text" placeholder="Arama" class="form-control">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </header>
