
<div id="all">
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="main-slider" class="owl-carousel owl-theme">
            <div class="item"><img src="./assets/img/cornFlakes.png" alt="" class="img-fluid"></div>
            <div class="item"><img src="./assets/img/dovesampuan.png" alt="" class="img-fluid"></div>
            <div class="item"><img src="./assets/img/nesfit.png" alt="" class="img-fluid"></div>
            <div class="item"><img src="./assets/img/sofiaSelpak.png" alt="" class="img-fluid"></div>
          </div>
          <!-- /#main-slider-->
        </div>
      </div>
    </div>
    <!--
    *** ADVANTAGES HOMEPAGE ***
    _________________________________________________________
    -->
    <div id="advantages">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-4">
            <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
              <div class="icon"><i class="fa fa-heart"></i></div>
              <h3><a href="#">MÜŞTERİLERİMİZİ ÖNEMSİYORUZ</a></h3>
              <p class="mb-0">Günde 100.000'den fazla kişiye sevgiyle alışveriş yapacakları ortam sağlıyoruz.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
              <div class="icon"><i class="fa fa-tags"></i></div>
              <h3><a href="#">En Uygun fİyatlar</a></h3>
              <p class="mb-0">Haldeki fiyatları müşterilerimizin hizmetine sunuyoruz</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
              <div class="icon"><i class="fa fa-thumbs-up"></i></div>
              <h3><a href="#">%100 Müşterİ Memnunİyetİ</a></h3>
              <p class="mb-0">15 gün içerisinde sorgusuz iade ve 1 ay içerisinde sorgusuz değişim hakkı sağlıyoruz.</p>
            </div>
          </div>   
        </div>
        <!-- /.row-->
      </div>
      <!-- /.container-->
    </div>
    <!-- /#advantages-->
    <!-- *** ADVANTAGES END ***-->
    <!--
    *** HOT PRODUCT SLIDESHOW ***
    _________________________________________________________
    -->
    <div id="hot">
      <div class="box py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="mb-0">Bu haftanın Öne çıkanları</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="product-slider owl-carousel owl-theme">
          <div class="item" *ngFor="let product of products">
            <div class="product">
              <div class="flip-container">
                <div class="flipper">
                  <div class="front"><a href="#"><img src="{{product.imageUrl}}" alt="" class="img-fluid"></a></div>
                  <!-- <div class="back"><a href="#"><img src="{{product.imageUrl}}" alt="" class="img-fluid"></a></div> -->
                </div>
              </div><a href="#" class="invisible"><img src="{{product.imageUrl}}" alt="" class="img-fluid"></a>
              <div class="text">
                <h3><a href="#">{{product.Name}}</a></h3>
                <p class="price"> 
                  <del></del>{{product.unitPrice | currency}}
                </p>
                <p class="buttons"><a href="javascript:void(0);" class="btn btn-outline-secondary" (click)="goProducts();">Detaylar</a>
              </div>
              <!-- /.text-->
              <div class="ribbon sale">
                <div class="theribbon">Ucuz</div>
                <div class="ribbon-background"></div>
              </div>
              <!-- /.ribbon-->
              <div class="ribbon new">
                <div class="theribbon">Yenİ</div>
                <div class="ribbon-background"></div>
              </div>
              <!-- /.ribbon--> 
            </div>
            <!-- /.product-->
          </div> 
        
          <!-- /.product-slider-->
        </div>
        <!-- /.container-->
      </div>
      <!-- /#hot-->
      <!-- *** HOT END ***-->
    </div>
    <!--
    *** GET INSPIRED ***
    _________________________________________________________
    -->
    <div class="container">
      <div class="col-md-12">
        <div class="box slideshow">
          <h3>Kampanya Reyonu</h3>
          <p class="lead"></p>
          <div id="get-inspired" class="owl-carousel owl-theme">
            <div class="item"><a href="#"><img src="./assets/img/yogurt.PNG" alt="Get inspired" class="img-fluid"></a></div>
            <div class="item"><a href="#"><img src="./assets/img/bakım ürünleri.PNG" alt="Get inspired" class="img-fluid"></a></div>
            <div class="item"><a href="#"><img src="./assets/img/droetker.PNG" alt="Get inspired" class="img-fluid"></a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- *** GET INSPIRED END ***-->
    <!--
    *** BLOG HOMEPAGE ***
    _________________________________________________________
    -->
    <div class="box text-center">
      <div class="container">
        <div class="col-md-12">
          <!-- <h3 class="text-uppercase">Yenİ Arayüzümüz Hakkında</h3> -->
          <p class="lead mb-0"> Yeni Arayüz tasarımı için kullandığımız <a href="https://angular.io/docs" target="_blank"> teknolojiye göz atın!</a></p>
        </div>
      </div>
    </div>
   
  </div>
</div>
 
